
<style>
    .about{font-family:LatoWebBold, sans-serif; margin:100px 0 250px;; text-align: center;  }

.about {}
    .about h3{font-family:LatoWebBold, sans-serif;font-size:45px; text-align: center; text-transform:uppercase;color:#333; margin:20px 0;}
    .about .txt{font-family:LatoWebBold, sans-serif;font-size:16px; text-align: center; text-transform:uppercase;color:#333; margin:20px 0; line-height:28px;}
    .about .greyRule {background: #000;width: 1px;height: 50px; margin: 0 50%;}
    .about .btn{font-family:LatoWebBold, sans-serif; border:1px solid #000 ; font-size:16px;  text-align: center; text-transform:uppercase;color:#333; line-height:28px; padding: 15px 40px;}
    .about a{text-decoration: none; }

    .titleArea{}
    .titleArea h2{display:block;padding:0;color:#000;font-size:35px;font-weight:normal;letter-spacing:0.1em;*zoom:1;}
    .titleArea p{display:block;margin:0;padding:7px 0;font-size:11px;color:#939393;vertical-align:bottom;*display:inline;*zoom:1;}
    .titleArea ul{padding:5px 0;color:#939393;line-height:18px;}
    .titleArea {text-align:center;}
    p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
</style>

<div class="titleArea">
<h2>ABOUT</h2>
<p class="title_sub">회사소개</p>
</div>



<ul>
<li style="text-align:center;max-width:100%;width:100%;margin-top:100px;">
<img src="/images/about/sof.jpeg" style="width:70%;"></li>
</ul>

<div class="about">
<h3>토탈 리빙 브랜드</h3>

<!-- <h2>FURNITURE  ・  FABRIC  ・  LIVING</h2> -->
<p class ="txt" style="margin-bottom:50px;">
 "믿을 수 있는 소파를 만들겠다는 철학으로 자연을 그대로 담은 최상 등급의 원목과 마감재로 기본에 충실한 제품을 만듭니다."
 <br>
 "각기 다른 소재에 대해 뛰어난 이해와 감성적인 디자인을 바탕으로 모두의 공간을 돋보이게 만드는 제품을 추구합니다."
 </p>
 
 <div class="greyRule"></div>
 <p class="txt" style="margin-top:50px;">
 <b>"당신의 삶을 멋지게 바꿉니다. 모든 사람이 집 안에서 행복한 시간을 보낼 수 있도록"</b>
 </p>
 
 </div>
 
 
 <ul>
	<li style="text-align:center;max-width:100%;width:100%; margin-top:100px;">
 	<img src="/images/about/sof2.jpeg" style="width:70%;"/></li>
 </ul>
  <div class="about">
  <h3>SOF8</h3><br>
   <p class="txt" style="margin-bottom:100px;">
    sof8은 유일무이하고 특별한 소파를 디자인 합니다.<br/><br/><br/>
    </p>
    <a  th:href="@{/product/productall}"><span class="btn">Product View</span></a>
 
  
</div>