<link th:href="@{/css/showroom.css}" rel="stylesheet"> 
  


<div id="container">
	<div id="contents"></div>

	<div class="MainBanner" style="margin: 0 auto; width: 80%">
		<div class="titleArea">
			<h2>SHOWROOM</h2>
			<p class="title_sub">쇼룸안내</p>
			<ul class="aboutUs_tab">
				<li class="here"><a th:href="@{/brand/showroom}">Hannam</a></li>
				<li><a th:href="@{/brand/showroom_pangyo}">Pangyo</a></li>
				<li><a th:href="@{/brand/showroom_busan}">Busan</a></li>
			</ul>
		</div>

		<div id="hannam" style="border-bottom: 1px solid #ededed;">
		<!-- 	<div class="xans-element- xans-photoslide2 xans-photoslide2-slide-5 xans-photoslide2-slide xans-photoslide2-5 img_showroom "> -->
			<div class="img_showroom ">
				<div class="slider-wrapper theme-default">
					<div class="ribbon"></div>
					
					<div id="nivoSlider5"  class="nivoSlider"
					style="position: relative; overflow: hidden; width: 1600px; height: 900px;">
					<img src='/images/showroom/pangyo.jpeg' style="width:72%;">
						<a href="javascript:;" rel="28" class="nivohref"
							style='display: block;'> 
							
							</a> 
							
					</div>
				</div>

			</div>

            <div id="map" style="width:100%;height:400px;"></div>
	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=fb7155b02475010dd2cb648c5911438c"></script>
	<script>
		var container = document.getElementById('map');
		var options = {
			center: new kakao.maps.LatLng(37.39279369494, 127.112017130086),
			level: 3
		};

		var map = new kakao.maps.Map(container, options);
	</script>
            
          
            
            
			<!-- 지점 상세 정보 -->
			<section style="width: 100% height=auto;">
				<!-- 영업 안내 -->
				<article class="info">

					<p class="title">
						<strong>STORE INFO<strong></strong></strong>
					</p>
					<table>
						<tbody>
							<tr>
								<th>주소</th>
								<td>경기 성남시 분당구 판교역로 146번길 20</td>
							</tr>
							<tr>
								<th>운영시간</th>
								<td>10:00 - 20:00 (연중무휴)</td>
							</tr>
							<tr>
								<th>전화번호</th>
								<td>031-711-2788</td>
							</tr>
							<tr>
								<th>주차안내</th>
								<td>쇼룸 전용 주차장 발렛파킹</td>
							</tr>
						</tbody>
					</table>
				</article>
			</section>
		</div>
	</div>
</div>




