<link th:href="@{/css/showroom.css}" rel="stylesheet"> 



<div id="container">
	<div id="contents"></div>

	<div class="MainBanner" style="margin: 0 auto; width: 80%">
		<div class="titleArea">
			<h2>SHOWROOM</h2>
			<p class="title_sub">쇼룸안내</p>
			<ul class="aboutUs_tab">
				<li class="here"><a href="#">Hannam</a></li>
				<li><a href="#">Pangyo</a></li>
				<li><a href="#">Busan</a></li>
			</ul>
		</div>

		<div id="hannam" style="border-bottom: 1px solid #ededed;">
			<div
				class="xans-element- xans-photoslide2 xans-photoslide2-slide-5 xans-photoslide2-slide xans-photoslide2-5 img_showroom ">
				<div class="slider-wrapper theme-default">
					<div class="ribbon"></div>
					<div id="nivoSlider5"  class="nivoSlider"
						style="background: url(//app-storage-edge-007.cafe24.com/photoslide2/woodique/2021/12/13/9923553b58a547acfbe8504c4018309e.jpg) no-repeat; position: relative; overflow: hidden; width: 1600px; height: 900px;">
						<a href="javascript:;" rel="28" class="nivohref"
							style='display: block;'> <img src="#" alt="" title=""
							border="0" /></a> <a href="javascript:;" rel="32" class="nivohref"
							style='display: none;'> <img src="#" alt="" title=""
							border="0" /></a> <a href="javascript:;" rel="29" class="nivohref"
							style='display: none;'> <img src="#" alt="" title=""
							border="0" /></a> <a href="javascript:;" rel="30" class="nivohref"
							style='display: none;'> <img src="#" alt="" title=""
							border="0" /></a> <a href="javascript:;" rel="27" class="nivohref"
							style='display: none;'> <img src="#" alt="" title=""
							border="0" /></a> <a href="javascript:;" rel="33" class="nivohref"
							style='display: none;'> <img src="#" alt="" title=""
							border="0" /></a> <a href="javascript:;" rel="34" class="nivohref"
							style='display: none;'> <img src="#" alt="" title=""
							border="0" /></a>
					</div>
				</div>

			</div>
			
			
 <article class="map"> <!--  
 <iframe src="#" width="100%" height="400" style="border:0; padding:20px 0;" allowfullscreen="">
 </iframe>-->
            </article>
            
            
          
            
            
			<!-- 지점 상세 정보 -->
			<section style="width: 100% height=auto;">
				<!-- 영업 안내 -->
				<article class="info">

					<p class="title">
						<strong>STORE INFO<strong></strong></strong>
					</p>
					<table>
						<tbody>
							<tr>
								<th>주소</th>
								<td>서울특별시 용산구 독서당로 122</td>
							</tr>
							<tr>
								<th>운영시간</th>
								<td>10:00 - 20:00 (연중무휴)</td>
							</tr>
							<tr>
								<th>전화번호</th>
								<td>02-797-2788</td>
							</tr>
							<tr>
								<th>주차안내</th>
								<td>쇼룸 전용 주차장 발렛파킹</td>
							</tr>
						</tbody>
					</table>
				</article>
			</section>
		</div>
	</div>
</div>




