<link th:href="@{/css/showroom.css}" rel="stylesheet"> 
  


<div id="container">
	<div id="contents"></div>

	<div class="MainBanner" style="margin: 0 auto; width: 80%">
		<div class="titleArea">
			<h2>SHOWROOM</h2>
			<p class="title_sub">쇼룸안내</p>
			<ul class="aboutUs_tab">
				<li class="here"><a th:href="@{/brand/showroom}">Hannam</a></li>
				<li><a th:href="@{/brand/showroom_pangyo}">Pangyo</a></li>
				<li><a th:href="@{/brand/showroom_busan}">Busan</a></li>
			</ul>
		</div>

		<div id="hannam" style="border-bottom: 1px solid #ededed; margin: 40px auto; text-align:center;">
			<div class="img_showroom ">
				<div class="slider-wrapper theme-default">
					<img src='/images/showroom/pangyo.jpeg' style="width:100%; height:800px;">
				</div>
			</div>
		</div>

        
        <div id="map" style="width:100%;height:600px; text-align:center;"></div>
			<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=fb7155b02475010dd2cb648c5911438c"></script>
			<script>
			/* 	var container = document.getElementById('map');
				var options = {
					center: new kakao.maps.LatLng(37.39279369494, 127.112017130086),
					level: 3
				};
		
				var map = new kakao.maps.Map(container, options); */
				var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
			    mapOption = { 
			        center: new kakao.maps.LatLng(37.39279369494, 127.112017130086), // 지도의 중심좌표
			        level: 4 // 지도의 확대 레벨
			    };
		
			var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다
		
			var imageSrc = '/images/mk.png', // 마커이미지의 주소입니다    
			    imageSize = new kakao.maps.Size(34, 39), // 마커이미지의 크기입니다
			    imageOption = {offset: new kakao.maps.Point(27, 69)}; // 마커이미지의 옵션입니다. 마커의 좌표와 일치시킬 이미지 안에서의 좌표를 설정합니다.
			      
			// 마커의 이미지정보를 가지고 있는 마커이미지를 생성합니다
			var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imageOption),
			    markerPosition = new kakao.maps.LatLng(37.39279369494, 127.112017130086); // 마커가 표시될 위치입니다
		
			// 마커를 생성합니다
			var marker = new kakao.maps.Marker({
			    position: markerPosition, 
			    image: markerImage // 마커이미지 설정 
			});
		
			// 마커가 지도 위에 표시되도록 설정합니다
			marker.setMap(map);  
			
			// 커스텀 오버레이에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다
			var content = '<div class="customoverlay">' +
			    '  <a href="https://map.kakao.com/link/map/11394059" target="_blank">' +
			    '    <span class="title" style="font-size:20px; font-weight:bold;">SOF8</span>' +
			    '  </a>' +
			    '</div>';
		
			// 커스텀 오버레이가 표시될 위치입니다 
			var position = new kakao.maps.LatLng(37.39279369494, 127.112017130086);  
		
			// 커스텀 오버레이를 생성합니다
			var customOverlay = new kakao.maps.CustomOverlay({
			    map: map,
			    position: position,
			    content: content,
			    yAnchor: 1
			});
	
	
	</script>
            
          
            
            
			<!-- 지점 상세 정보 -->
			<section style="width: 100% height=auto;">
				<!-- 영업 안내 -->
				<article class="info">

					<p class="title">
						<strong>STORE INFO<strong></strong></strong>
					</p>
					<table>
						<tbody>
							<tr>
								<th>주소</th>
								<td>경기 성남시 분당구 판교역로 146번길 20</td>
							</tr>
							<tr>
								<th>운영시간</th>
								<td>10:00 - 20:00 (연중무휴)</td>
							</tr>
							<tr>
								<th>전화번호</th>
								<td>031-711-2788</td>
							</tr>
							<tr>
								<th>주차안내</th>
								<td>쇼룸 전용 주차장 발렛파킹</td>
							</tr>
						</tbody>
					</table>
				</article>
			</section>
		</div>
	</div>
</div>




