<section class="cancel">
	<div class="container">
		<div class="row">
			<div class="col-md-3" th:include="@{/mypage/sidenav}"></div>
			<div class="col-md-9">
				<div class="page-wrapper">
					<div class="page-header">
						<div class="container">
							<h1>회원탈퇴</h1>
							<ol class="breadcrumb">
								<li><a th:href="@{/}">Home</a></li>
								<li><a th:href="@{/mypage/info}">회원정보</a></li>
								<li class="active">회원탈퇴</li>
							</ol>
						</div>
					</div>
					<form id="form_cancel" class="form-horizontal line" th:onsubmit="return member_cancel()"  th:object="${member}" method="post">
						<h2><small>01. 회원탈퇴 안내</small></h2>
						<pre>
SOF8 탈퇴안내

회원님께서 회원 탈퇴를 원하신다니 저희 쇼핑몰의 서비스가 많이 부족하고 미흡했나 봅니다. 
불편하셨던 점이나 불만사항을 알려주시면 적극 반영해서 고객님의 불편함을 해결해 드리도록 노력하겠습니다. 

■ 아울러 회원 탈퇴시의 아래 사항을 숙지하시기 바랍니다. 
1. 회원 탈퇴 시 회원님의 정보는 상품 반품 및 A/S를 위해 전자상거래 등에서의 소비자 보호에 관한 법률에 의거한
   고객정보 보호정책에따라 관리 됩니다. 
						</pre>
						<hr>
						<h2><small>02. 회원탈퇴 확인</small></h2>
						<div class="line">
							<div id="form_pwd" class="form-group has-feedback">
								<label class="col-md-2 control-label">비밀번호:</label>
								<div class="col-md-10">
									<input type="password" id="pwd" th:field="*{pwd}" class="form-control">
									<span class="glyphicon glyphicon-eye-open form-control-feedback eye"></span>
									<span class="control-label text-danger" id="error_pwd"></span>
								</div>
							</div>
						</div>
						<div class="form-group mt-20">
							<div class="col-xs-6 col-sm-6 col-md-6">
							<a th:href="@{/mypage/info}" class="large btn btn-solid-border btn-block">취소</a>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6">
								<button type="submit" class="large btn btn-main btn-block">회원탈퇴</button>
							</div>				
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
