<section class="wish">
	<div class="container">
		<div class="row">
			<div class="col-md-3" th:include="@{/mypage/sidenav}"></div>
			<div class="col-md-9">
				<div class="page-wrapper shopping cart">
					<div class="page-header">
						<div class="container">
							<h1>찜목록</h1>
							<ol class="breadcrumb">
								<li><a th:href="@{/}">Home</a></li>
								<li>쇼핑정보</li>
								<li class="active">찜목록</li>
							</ol>
						</div>
					</div>
					
					<!-- 장바구니에 아이템이 없을시 -->
					<div class="empty-cart page-wrapper text-center">
						<iconify-icon icon="mdi:heart" width="120"></iconify-icon>
						<h2 class="text-center">찜목록에 담겨있는 상품이 없습니다.</h2>
	          			<p>Your wish list is currently empty.</p>
	          			<a th:href="@{/product/productall}" class="large btn btn-main mt-20">쇼핑 계속하기</a>
					</div>
					
					<!-- 장바구니에 아이템이 있을시 -->
					<div class="product-list">
						<form method="post">
							<div class="form-group">
								<a href="#" class="large btn btn-small btn-solid-border">선택 상품 삭제</a>
							</div>
							<table class="table line">
								<thead>
									<tr class="cart-amount">
										<th width="1" class="text-center"><input type="checkbox" id="check" class="check"> <label for="check"></label></th>
										<th class="">상품 정보</th>
										<th class="">상품금액</th>
										<th width="1"></th>
									</tr>
								</thead>
								<tbody>
									<tr class="">
										<td class=""><input type="checkbox" id="check1" class="check"> <label for="check1"></label></td>
										<td class="">
											<div class="product-info">
												<img width="80" th:src="@{/images/shop/cart/cart-1.jpg}" alt="" />
												<a href="#!">Sunglass</a>
											</div>
										</td>
										<td class="">$200.00</td>
										<td class="">
											<a href="#" onclick=""><iconify-icon icon="ph:x-square-thin" width="25"></iconify-icon></a>
										</td>
									</tr>
									<tr class="">
										<td class=""><input type="checkbox" id="check2" class="check"> <label for="check2"></label></td>
										<td class="">
											<div class="product-info">
												<img width="80" th:src="@{/images/shop/cart/cart-1.jpg}" alt="" />
												<a href="#!">Sunglass</a>
											</div>
										</td>
										<td class="">$200.00</td>
										<td class="">
											<a href="#" onclick=""><iconify-icon icon="ph:x-square-thin" width="25"></iconify-icon></a>
										</td>
									</tr>
								</tbody>
							</table>
							<div class="text-center">
								<ul class="pagination post-pagination">
									<li><a href="#!">Prev</a></li>
									<li class="active"><a href="#!">1</a></li>
									<li><a href="#!">2</a></li>
									<li><a href="#!">3</a></li>
									<li><a href="#!">4</a></li>
									<li><a href="#!">5</a></li>
									<li><a href="#!">Next</a></li>
								</ul>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
