
<section class="memberlist">
	<div class="container">
		<div class="row">
			<div class="col-md-3" th:include="@{/mypage/sidenav}"></div>
			<div class="col-md-9">
				<div class="page-wrapper shopping cart">
					<div class="page-header">
						<div class="container">
							<h1>1:1 문의</h1>
							<ol class="breadcrumb">
								<li><a th:href="@{/}">Home</a></li>
								<li>고객센터</li>
								<li class="active">1:1 문의</li>
							</ol>
						</div>
					</div>
					<div class="product-list">
							<h4 style="margin:30px 0 10px 0;"><b>문의 내역</b></h4>
							<table class="table line">
								<colgroup>
									<col width="5%"/>
									<col width="20%"/>
									<col width="10%"/>
									<col width="10%"/>
									<col width="5%"/>
								</colgroup>
								<thead>
									<tr class="cart-amount" >
										<th class="text-center">번호</th>
										<th class="text-center">문의사항</th>
										<th class="text-center">작성자</th>
										<th class="text-center">작성일</th>
										<th class="text-center">상태</th>
									</tr>
								</thead>
								<tbody>
									<tr th:if="${paging.totalRow == 0}">
										<td class="text-class empty" colspan="7">1:1 문의가 없습니다.</td>
									</tr>	
									<tr th:if="${qnas != null}" th:each="qna : ${qnas}">
										<td class="text-center" th:text="${paging.totalRow - (qnaStat.index + paging.offset)}"></td>
										<td class=""><a style="margin-left:5%;" th:text="${qna.title}" th:href="@{/mypage/qna/content(id=${qna.r_id},page=${paging.page})}"></a></td>
										<td class="" th:text="${qna.user_id}"></td>
										<td class="" th:text="${#temporals.format(qna.rdate,'yyyy-MM-dd hh:mm')}"></td>
										<td class="" th:if="${qna.reply == null}" style="color:red" th:text="대기중"></td>
										<td class="" th:unless="${qna.reply == null}" th:text="완료"></td>
									</tr>
								</tbody>
							</table>
							
							<div>
								<button class="btn btn-primary pull-right" th:onclick="location.href=[[@{/mypage/qna/write}]];">문의하기</button>
							</div>
							
							<div class="text-center">
								<ul class="pagination post-pagination" th:if="${paging.totalRow > 0}">
									<!-- 맨 처음 페이지 이동 -->
									<li th:if="${paging.startPage > 1}">
										<a th:href="@{'qna?page=1'}" th:text="First"></a>
									</li>
									<!-- 이전 블록 이동 -->
									<li th:if="${paging.prev}">
										<a th:if="${paging.keyword == null}" 
											th:href="@{'qna?page='+${paging.startPage-1}}" 
											th:text="prev"></a>
										<a th:if="${paging.keyword != null}" 
										th:href="@{'qna?page='+${paging.startPage-1}+'&type='+${paging.type}+'&keyword='+${paging.keyword}}" 
										th:text="prev"></a>
									</li>
									<!-- 시퀀스 보여주는 값 변경 -->
									<li th:each="pageNum : ${#numbers.sequence(paging.startPage, paging.endPage)}" th:class="${pageNum == paging.page} ? 'active'" >
										<a th:if="${paging.keyword == null}" 
											th:href="@{'qna?page='+${pageNum}}" 
											th:text="${pageNum}"></a>
										<a th:if="${paging.keyword != null}" 
											th:href="@{'qna?page='+${pageNum}+'&type='+${paging.type}+'&keyword='+${paging.keyword}}" 
											th:text="${pageNum}"></a>
									</li>
									<!-- 다음 블록으로 이동 -->
									<li th:if="${paging.next}">
										<a th:if="${paging.keyword == null}" 
											th:href="@{'qna?page='+|${paging.endPage + 1}|}" 
											th:text="Next"></a>
										<a th:if="${paging.keyword != null}" 
											th:href="@{'qna?page='+|${paging.endPage + 1}|+'&type='+${paging.type}+'&keyword='+${paging.keyword}}" 
											th:text="Next"></a>
									</li>
									<!-- 맨 뒷 페이지로 이동 -->
									<li th:if="${paging.endPage < paging.totalPage}">
										<a th:href="@{'qna?page='+${paging.totalPage}}" th:text="Last"></a>
									</li>
								</ul>
							</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>