<div class="sidenav line mt-20">
	<div class="ud-space">
		<h3><b>마이페이지</b></h3>
	</div> 
	<div class="divider"></div>
	<label>회원정보</label>
	<ul class="nav nav-pills nav-stacked">
		<li><a th:href="@{/mypage/edit}">회원정보수정</a></li>
		<li><a th:href="@{/mypage/cancel}">회원탈퇴</a></li>
	</ul>
	<br>
	<label>쇼핑정보</label>
	<ul class="nav nav-pills nav-stacked">
		<li><a th:href="@{/mypage/order}">주문목록</a></li>
		<li><a th:href="@{/mypage/mark}">찜목록</a></li>
	</ul>
	<br>
	<label>혜택정보</label>
	<ul class="nav nav-pills nav-stacked">
		<li><a href="#">내쿠폰</a></li>
	</ul>
	<br>
	<label>나의활동</label>
	<ul class="nav nav-pills nav-stacked">
		<li><a th:href="@{/mypage/qna/write}">1:1 문의</a></li>
		<li><a th:href="@{/mypage/qna}">1:1 문의내역</a></li>
		<li><a th:href="@{/review/candidate}">리뷰 작성</a></li>
		<li><a th:href="@{/review/record}">리뷰 내역</a></li>
	</ul>
</div>