<div class="hero-slider">
	<div class="slider-item th-fullpage hero-area"
		style="background-image: url(images/slider/slider-1.png);">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 text-center">
					<p data-duration-in=".3" data-animation-in="fadeInUp"
						data-delay-in=".1">SOF8</p>
					<h1 data-duration-in=".3" data-animation-in="fadeInUp"
						data-delay-in=".5">당신의 온전한 휴식을 위해</h1>
					<a data-duration-in=".3" data-animation-in="fadeInUp"
						data-delay-in=".8" class="btn" th:href="@{/product/productall}">Shop Now</a>
				</div>
			</div>
		</div>
	</div>
	<div class="slider-item th-fullpage hero-area"
		style="background-image: url(images/slider/slider-2.png);">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 text-center">
					<p data-duration-in=".3" data-animation-in="fadeInUp"
						data-delay-in=".1">SOF8</p>
					<h1 data-duration-in=".3" data-animation-in="fadeInUp"
						data-delay-in=".5">당신의 안락한 하루를 위해</h1>
					<a data-duration-in=".3" data-animation-in="fadeInUp"
						data-delay-in=".8" class="btn" th:href="@{/product/productall}">Shop Now</a>
				</div>
			</div>
		</div>
	</div>
	<div class="slider-item th-fullpage hero-area"
		style="background-image: url(images/slider/slider-3.png);">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 text-center">
					<p data-duration-in=".3" data-animation-in="fadeInUp"
						data-delay-in=".1">SOF8</p>
					<h1 data-duration-in=".3" data-animation-in="fadeInUp"
						data-delay-in=".5">다르게, 더 바르게 만듭니다.</h1>
					<a data-duration-in=".3" data-animation-in="fadeInUp"
						data-delay-in=".8" class="btn" th:href="@{/product/productall}">Shop Now</a>
				</div>
			</div>
		</div>
	</div>
</div>

<section class="products section bg-pale-dogwood">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="category-box category-box-2">
					<a href="#!"> <img
						th:src="@{/images/shop/event/main-event.jpg}" alt="" />
						<div class="content">
							<h2>EVENT</h2>
						</div>
					</a>
				</div>
			</div>
			<div class="col-md-2">
				<div class="category-box">
					<a href="#!"> <img th:src="@{/images/shop/event/event1.png}"
						alt="" />
					</a>
				</div>
			</div>
			<div class="col-md-4">
				<div class="category-box-info">
					<a href="#!"><h2>천연 가죽 소파</h2></a><br /> <br />
					<h3>1,600,000원</h3>
					&nbsp;&nbsp;
					<p style="text-decoration: line-through;">2,000,000원</p>
					&emsp;&emsp;&emsp;
					<h2 id="discount">20%</h2>
					<br /> <br /> <br />
				</div>
			</div>
			<!-- Modal -->
			<div class="modal product-modal fade" id="product-modal">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<i class="tf-ion-close"></i>
				</button>
				<div class="modal-dialog " role="document">
					<div class="modal-content">
						<div class="modal-body">
							<div class="row">
								<div class="col-md-8 col-sm-6 col-xs-12">
									<div class="modal-image">
										<img class="img-responsive"
											th:src="@{/images/shop/products/modal-product.jpg}"
											alt="product-img" />
									</div>
								</div>
								<div class="col-md-4 col-sm-6 col-xs-12">
									<div class="product-short-details">
										<h2 class="product-title">GM Pendant, Basalt Grey</h2>
										<p class="product-price">$200</p>
										<p class="product-short-description">Lorem ipsum dolor sit
											amet, consectetur adipisicing elit. Rem iusto nihil cum. Illo
											laborum numquam rem aut officia dicta cumque.</p>
										<a href="cart.html" class="btn btn-main">Add To Cart</a> <a
											href="product-single.html" class="btn btn-transparent">View
											Product Details</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /.modal -->

		</div>
	</div>
</section>

<section class="product-video section bg-viva-magenta">
	<div class="container">
		<div class="row"></div>
	</div>
</section>

<section class="product-category section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="title text-center">
					<h2>2023 신상품</h2>
				</div>
			</div>
			<div class="col-md-4">
				<div class="product-item">
					<div class="product-thumb">
						<span class="bage">Sale</span> <img class="img-responsive"
							th:src="@{/images/shop/products/product-1.jpg}" alt="product-img" />
						<div class="preview-meta">
							<ul>
								<li><span data-toggle="modal" data-target="#product-modal">
										<i class="tf-ion-ios-search-strong"></i>
								</span></li>
								<li><a href="#!"><i class="tf-ion-ios-heart"></i></a></li>
								<li><a href="#!"><i class="tf-ion-android-cart"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="product-content">
						<h4>
							<a href="product-single.html">Reef Boardsport</a>
						</h4>
						<p class="price">$200</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="product-item">
					<div class="product-thumb">
						<span class="bage">Sale</span> <img class="img-responsive"
							th:src="@{/images/shop/products/product-2.jpg}" alt="product-img" />
						<div class="preview-meta">
							<ul>
								<li><span data-toggle="modal" data-target="#product-modal">
										<i class="tf-ion-ios-search-strong"></i>
								</span></li>
								<li><a href="#!"><i class="tf-ion-ios-heart"></i></a></li>
								<li><a href="#!"><i class="tf-ion-android-cart"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="product-content">
						<h4>
							<a href="product-single.html">Reef Boardsport</a>
						</h4>
						<p class="price">$200</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="product-item">
					<div class="product-thumb">
						<span class="bage">Sale</span> <img class="img-responsive"
							th:src="@{/images/shop/products/product-3.jpg}" alt="product-img" />
						<div class="preview-meta">
							<ul>
								<li><span data-toggle="modal" data-target="#product-modal">
										<i class="tf-ion-ios-search-strong"></i>
								</span></li>
								<li><a href="#!"><i class="tf-ion-ios-heart"></i></a></li>
								<li><a href="#!"><i class="tf-ion-android-cart"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="product-content">
						<h4>
							<a href="product-single.html">Reef Boardsport</a>
						</h4>
						<p class="price">$200</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="product-item">
					<div class="product-thumb">
						<span class="bage">Sale</span> <img class="img-responsive"
							th:src="@{/images/shop/products/product-4.jpg}" alt="product-img" />
						<div class="preview-meta">
							<ul>
								<li><span data-toggle="modal" data-target="#product-modal">
										<i class="tf-ion-ios-search-strong"></i>
								</span></li>
								<li><a href="#!"><i class="tf-ion-ios-heart"></i></a></li>
								<li><a href="#!"><i class="tf-ion-android-cart"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="product-content">
						<h4>
							<a href="product-single.html">Reef Boardsport</a>
						</h4>
						<p class="price">$200</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="product-item">
					<div class="product-thumb">
						<span class="bage">Sale</span> <img class="img-responsive"
							th:src="@{/images/shop/products/product-5.jpg}" alt="product-img" />
						<div class="preview-meta">
							<ul>
								<li><span data-toggle="modal" data-target="#product-modal">
										<i class="tf-ion-ios-search-strong"></i>
								</span></li>
								<li><a href="#!"><i class="tf-ion-ios-heart"></i></a></li>
								<li><a href="#!"><i class="tf-ion-android-cart"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="product-content">
						<h4>
							<a href="product-single.html">Reef Boardsport</a>
						</h4>
						<p class="price">$200</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="product-item">
					<div class="product-thumb">
						<span class="bage">Sale</span> <img class="img-responsive"
							th:src="@{/images/shop/products/product-6.jpg}" alt="product-img" />
						<div class="preview-meta">
							<ul>
								<li><span data-toggle="modal" data-target="#product-modal">
										<i class="tf-ion-ios-search-strong"></i>
								</span></li>
								<li><a href="#!"><i class="tf-ion-ios-heart"></i></a></li>
								<li><a href="#!"><i class="tf-ion-android-cart"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="product-content">
						<h4>
							<a href="product-single.html">Reef Boardsport</a>
						</h4>
						<p class="price">$200</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>