<style>
.oldproduct{
	padding-top: 5px;
}

.discount{
	text-align: right;
}
</style>
<div class="hero-slider">
	<div class="slider-item th-fullpage hero-area"
		style="background-image: url(/images/slider/slider-1.png);">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 text-center">
					<p data-duration-in=".3" data-animation-in="fadeInUp"
						data-delay-in=".1">SOF8</p>
					<h1 data-duration-in=".3" data-animation-in="fadeInUp"
						data-delay-in=".5">당신의 온전한 휴식을 위해</h1>
					<a data-duration-in=".3" data-animation-in="fadeInUp"
						data-delay-in=".8" class="btn" th:href="@{/product/productall}">상품보기</a>
				</div>
			</div>
		</div>
	</div>
	<div class="slider-item th-fullpage hero-area"
		style="background-image: url(/images/slider/slider-2.png);">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 text-center">
					<p data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".1">SOF8</p>
					<h1 data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".5">당신의 안락한 하루를 위해</h1>
					<a data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".8" class="btn" th:href="@{/product/productall}">상품보기</a>
				</div>
			</div>
		</div>
	</div>
	<div class="slider-item th-fullpage hero-area"style="background-image: url(/images/slider/slider-3.png);">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 text-center">
					<p data-duration-in=".3" data-animation-in="fadeInUp"
						data-delay-in=".1">SOF8</p>
					<h1 data-duration-in=".3" data-animation-in="fadeInUp"
						data-delay-in=".5">다르게, 더 바르게 만듭니다.</h1>
					<a data-duration-in=".3" data-animation-in="fadeInUp"
						data-delay-in=".8" class="btn" th:href="@{/product/productall}">상품보기</a>
				</div>
			</div>
		</div>
	</div>
</div>

<section class="products section bg-pale-dogwood">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="category-box category-box-2">
					<a href="#!"> <img th:src="@{/images/shop/event/main-event.jpg}"/>
						<div class="content">
							<h2>EVENT</h2>
						</div>
					</a>
				</div>
			</div>
			<div class="col-md-6 form-horizontal">
				<tr th:each="o : ${oldlist}">
					<div class="oldproduct form-group">
						<div class="col-md-5">
							<div class="category-box">
								<td><img class="img-responsive" th:src="@{/images/shop/products/}+${o.p_img}"/></td>
								<input type="hidden" name="p_img" th:value="${o.p_img}">
							</div>
						</div>
						<div class="col-md-7">
							<div class="category-box-info">
								<td><h4><a th:href="@{/product/productdetail(p_id=${o.p_id})}" th:value="${o.p_id}" th:text="${o.p_name}"></a></h4></td>
								<h3><td th:text="${o.price}-${o.discount}"></h3>
								&nbsp;&nbsp;
								<p style="text-decoration: line-through;"><td th:text="${o.price}"></td></p>
								&emsp;&emsp;&emsp;
								<h2 id="discount"><td id="p_discount" th:text="|${#numbers.formatPercent((o.discount/(o.price*1.0)),1,0)}|"></h2>
								<br /> <br /> <br />
							</div>
						</div>				
					</div>
				</tr>
			</div>
		</div>
	</div>
</section>

<section class="product-video section bg-viva-magenta">
	<div class="container">
		<div class="row">
			<div class="wrapper col-md-12">
				<div class="frame-container">
					<div id="player"></div>
				</div>	
			</div>
		</div>
	</div>
</section>

<section class="product-category section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="title text-center">
					<h1>2023 신상품</h2>
				</div>
			</div>
			<tr th:each="p : ${newlist}">
			<div class=""></div>
				<div class="col-md-4" id="product-list" >
					<div class="product-item">
						<div class="product-thumb" th:OnClick="|location.href ='@{/product/productdetail(p_id=${p.p_id})}'|" th:value="${p.p_id}" style="cursor:pointer;" >
							<td><img class="img-responsive" th:src="@{/images/shop/products/}+${p.p_img}"/></td>
							<input type="hidden" name="p_img" th:value="${p.p_img}">
						</div>
						<div class="product-content">
							<td><h4><a th:href="@{/product/productdetail(p_id=${p.p_id})}" th:value="${p.p_id}" th:text="${p.p_name}"></a></h4></td>
							<p class="price"><td th:text="${p.price}"></td></p>
						</div>
					</div>
				</div>
			</tr>	
		</div>
	</div>
</section>