<script>
window.onload = function() {

	/* 카테고리별 금년 판매현황
	----------------------------------------*/
	Morris.Donut({
		element: 'category-year',
		data: [
			{ label: "패브릭소파", value: 12 },
			{ label: "가죽소파", value: 30 },
			{ label: "펫소파", value: 20 },
			{ label: "리빙룸", value: 20 }],
		colors: ['#A6A6A6', '#414e63', '#e96562', '#A8E9DC'],
		resize: true
	});
	
	/* 카테고리별 금월 판매현황
	----------------------------------------*/
	Morris.Donut({
		element: 'category-month',
		data: [
			{ label: "패브릭소파", value: 12 },
			{ label: "가죽소파", value: 30 },
			{ label: "펫소파", value: 20 },
			{ label: "리빙룸", value: 20 }],
		colors: ['#A6A6A6', '#414e63', '#e96562', '#A8E9DC'],
		resize: true
	});
	
	/* 카테고리별 금주 판매현황
	----------------------------------------*/
	Morris.Donut({
		element: 'category-week',
		data: [
			{ label: "패브릭소파", value: 12 },
			{ label: "가죽소파", value: 30 },
			{ label: "펫소파", value: 20 },
			{ label: "리빙룸", value: 20 }],
		colors: ['#A6A6A6', '#414e63', '#e96562', '#A8E9DC'],
		resize: true
	});
	
	/* 카테고리별 금일 판매현황
	----------------------------------------*/
	Morris.Donut({
		element: 'category-day',
		data: [
			{ label: "패브릭소파", value: 12 },
			{ label: "가죽소파", value: 30 },
			{ label: "펫소파", value: 20 },
			{ label: "리빙룸", value: 20 }],
		colors: ['#A6A6A6', '#414e63', '#e96562', '#A8E9DC'],
		resize: true
	});
};
</script>
<div id="page-wrapper">
	<div class="header">
		<h1 class="page-header">카테고리별 판매현황</h1>
		<ol class="breadcrumb">
			<li><a th:href="@{/console}">홈</a></li>
			<li>차트</li>
			<li class="active">카테고리별 판매현황</li>
		</ol>
	</div>
	<div id="page-inner">
		<div class="row">
			<div class="col-md-6 col-sm-12 col-xs-12">
				<div class="card">
					<div class="card-action">금년 판매현황</div>
					<div class="card-content">
						<div id="category-year"></div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-12 col-xs-12">
				<div class="card">
					<div class="card-action">금월 판매현황</div>
					<div class="card-content">
						<div id="category-month"></div>
					</div>
				</div>
			</div>
		</div>
		<!-- /. ROW  -->
		<div class="row">
			<div class="col-md-6 col-sm-12 col-xs-12">
				<div class="card">
					<div class="card-action">금주 판매현황</div>
					<div class="card-content">
						<div id="category-week"></div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-12 col-xs-12">
				<div class="card">
					<div class="card-action">금일 판매현황</div>
					<div class="card-content">
						<div id="category-day"></div>
					</div>
				</div>
			</div>
		</div>
		<!-- /. ROW  -->
		<footer>
			<p> All right reserved. Template by: 
				<a href="https://webthemez.com/admin-template/">WebThemez.com</a>
			</p>
		</footer>
	</div>
	<!-- /. PAGE INNER  -->
</div>
<!-- /. PAGE WRAPPER  -->
