<style>
	.deliveryman-info{
		display: inline;
	}
</style>
<script>
	function changestatus(o_status,o_id){
		location.href='/console/updatereservestatus?o_id='+o_id+'&o_status='+o_status;
	}
	
	window.onload = function(){
		changestatus(o_status,o_id);
	}
</script>
<div id="page-wrapper">
	<div class="header">
		<h1 class="page-header">예약 및 배송 관리</h1>
		<ol class="breadcrumb">
			<li><a th:href="@{/console}">홈</a></li>
			<li class="active">예약 및 배송 관리</li>
		</ol>
	</div>
	<div id="page-inner">
		<!-- 배송기사 정보 -->
		<div class="row">
                <div th:each="d : ${dlist}" class="col-md-2 col-sm-2">
	                <div class="card">
						<div class="card-image waves-effect waves-block waves-light">
							 <img class="activator" th:src="@{/images/team/}+${d.d_img}">
						</div>
						<div class="card-content  center">
							<span class="card-title activator grey-text text-darken-4"><h3 class="deliveryman-info" th:text="${d.d_name}"></h3><i class="material-icons right">info</i></span>
						</div>
						<div class="card-reveal">
							<span class="card-title grey-text text-darken-4" ><i class="material-icons right">close</i></span>&emsp;
							<div class="card">
								<div class="card-action">배송기사 정보</div>
								<div class="card-content">
									<div class="table-responsive">
										<table class="table table-striped table-bordered table-hover">
											<tbody>
												<tr>
										<td><span>이름</span></td>
										<td><span th:text="${d.d_name}"></span></td>
									</tr>
									<tr>
										<td><span>연락처</span></td>
										<td><span th:text="${d.d_tel}"></span></td>
									</tr>
									<tr>
										<td><span>위치</span></td>
										<td><span th:text="${d.d_name}"></span></td>
									</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
            <!-- 공지사항 -->
            <div class="col-md-6 col-sm-6">
               <div class="card">
                   <div class="card-action"><h2> 공지사항 </h2>
                   <div class="card-content"></div>
                        <div class="col-md-4 ">
			  				<ul class="tabs">
								<li class="tab col s6"><a class="active" href="#test1">매뉴얼</a></li>
								<li class="tab col s6"><a href="#test2">이슈</a></li>
							</ul>
						</div>
						<div class="clearBoth"><br/></div>
							<div id="test1" class="col s12">
							<p>&emsp;◆ 배송지 변경 문의</p>
							<p>&emsp;&emsp;&nbsp;주소지 변경을 원하실 경우에는 고객센터로 전화 연락주시거나 카카오톡 친구 추가 후 말씀해주시면  빠른 처리 도와드리도록 하겠습니다.</p>
							<p>&emsp;&emsp;&nbsp;단, 배송출고 후에는 주소지 변경이 어려우니 참고 부탁드립니다.</p>
							<p>&emsp;◆ 배송전 취소 문의</p>
							<p>&emsp;&emsp;&nbsp;주문하신 상품이 ‘결제완료’인 경우에만 가능합니다.</p>
							<p>&emsp;&emsp;&nbsp;배송준비중이거나 배송중인 상태에서는 취소가 불가하니 참고 부탁 드립니다.</p>
							</div>
							<div id="test2" class="col s12">
							<p>코로나로 인한 특정 원자재 수입이 어려워짐에 따라 일부 품목의 예약 일정 변동이 필요합니다.</p>
							<p>&emsp;◆ 상품 리스트</p>
							<p>&emsp;&emsp;&nbsp;> 세레나</p>
							<p>&emsp;&emsp;&nbsp;> 젠위브</p>
							<p>&emsp;&emsp;&nbsp;> 파베</p>
							<p>&emsp;&emsp;&nbsp;> 휴튼</p>
							</div>
	                    <div class="clearBoth"><br/></div>
                    </div>
               </div>
           </div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<!-- 금일 배송 리스트 Tables -->
				<div class="card">
					<div class="card-action">금일 배송 예약 리스트</div>
					<div class="card-content">
						<div class="table-responsive">
							<table class="table table-striped table-bordered table-hover"
								id="dataTables-example">
								<thead>
									<tr>
										<th class="center">예약번호</th>
										<th class="center">예약시간</th>
										<th class="center">배송상태</th>
										<th class="center">배송기사 이름</th>
										<th class="center">배송기사 연락처</th>
										<th class="center">배송시 요청사항</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="t : ${tlist}" class="odd gradeX">
										<td class="center"><p th:text="${t.re_id}"></p></td>
										<td class="center"><p th:text="${t.r_time}+':00'"></p></td>
										<td class="center">
											<select class="form-control center" id="order_status" th:onchange="changestatus(this.value,[[${t.o_id}]])">
						                		<option th:value="${t.o_status}" th:text="${t.o_status}"></option>
						                		<option th:value="상품배송중">상품배송중</option>
						                		<option th:value="배송완료">배송완료</option>
								        	</select>
										</td>
										<td class="center"><p th:text="${t.d_name}"></p></td>
										<td class="center"><p th:text="${t.d_tel}"></p></td>
										<td class="center"><p th:text="${t.d_tel}"></p></td>
										<td class="center"><p th:text="${t.re_req}"></p></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<!--End 금일 배송 리스트 Tables -->
			</div>
		</div>
		<!-- /. ROW  -->
		<div class="row">
			<div class="col-md-6">
				<!--   이번달 예약 리스트 Sink -->
				<div class="card">
					<div class="card-action">이번달 예약 리스트</div>
					<div class="card-content">
						<div class="table-responsive">
							<table class="table table-striped table-bordered table-hover">
								<thead>
									<tr>
										<th class="center">예약번호</th>
										<th class="center">예약날짜</th>
										<th class="center">예약시간</th>
										<th class="center">상태</th>
										<th class="center">배송기사 이름</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<tr th:each="m : ${mlist}" class="odd gradeX">
										<td class="center"><p th:text="${m.re_id}"></p></td>
										<td class="center"><p th:text="${m.r_date}"></p></td>
										<td class="center"><p th:text="${m.r_time}+':00'"></p></td>
										<td class="center"><p th:text="${m.o_status}"></p></td>
										<td class="center"><p th:text="${m.d_name}"></p></td>
									</tr>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<!-- End  이번달 예약 리스트 Sink -->
			</div>
			<div class="col-md-6">
				<!--   배송전 예약 리스트 Table  -->
				<div class="card">
					<div class="card-action">배송전 예약 리스트</div>
					<div class="card-content">
						<div class="table-responsive">
							<table class="table">
								<thead>
									<tr>
										<th class="center">예약번호</th>
										<th class="center">예약날짜</th>
										<th class="center">예약시간</th>
										<th class="center">상태</th>
										<th class="center">배송기사 이름</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<tr th:each="r : ${rlist}" class="odd gradeX">
										<td class="center"><p th:text="${r.re_id}"></p></td>
										<td class="center"><p th:text="${r.r_date}"></p></td>
										<td class="center"><p th:text="${r.r_time}+':00'"></p></td>
										<td class="center"><p th:text="${r.o_status}"></p></td>
										<td class="center"><p th:text="${r.d_name}"></p></td>
									</tr>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<!-- End  배송전 예약 리스트 Table  -->
			</div>
		</div>
		<!-- /. ROW  -->
		<footer>
			<p>
				All right reserved. Template by: <a
					href="https://webthemez.com/admin-template/">WebThemez.com</a>
			</p>
		</footer>
	</div>
	<!-- /. PAGE INNER  -->
</div>
<!-- /. PAGE WRAPPER  -->