<section class="none">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
				<div class="block text-center">
					<h2>회원가입 실패</h2>
					<div class="form-group clearfix">
						<iconify-icon icon="mdi:account-cancel" width="120"></iconify-icon>
						<div class="clearfix">
							<p class="complete">회원가입이 <strong>실패</strong> 되었습니다.</p>
							<p>이전으로 다시 회원가입을 시도해 주세요.</p><br>
						</div>
						<div class="row">
							<div class="col-xs-6 col-sm-6 col-md-6">
								<a th:onclick="|history.go(-1)|" class="large btn btn-solid-border btn-block">이전으로</a>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6">
								<a th:href="@{/}" class="large btn btn-main btn-block lge">홈으로</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
