<section class="account">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="block text-center">
					<h2>회원가입 완료</h2>
					<div class="form-group clearfix">
						<iconify-icon icon="mdi:account-check" width="120"></iconify-icon>
						<div class="clearfix">
							<p class="complete">회원가입이 <strong>완료</strong> 되었습니다.</p><br>
							<p><span>[[${name}]]</span>님의 회원가입을 축하합니다. </p><br><br> 
							<p>알차고 실속있는 서비스로 찾아뵙겠습니다.</p><br><br>
						</div>
						<div class="row">
							<div class="col-xs-6 col-sm-6 col-md-6">
								<button id="btn_home" class="btn btn-lg btn-solid-border btn-block large">홈으로</button>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6">
								<button id="btn_login" class="btn btn-lg btn-main btn-block large">로그인</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
