<section class=account>
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="block text-center">
					<h2>비밀번호 찾기</h2>
					<div class="form-group text-left">
						<div class="text-center clearfix">
							<iconify-icon icon="ic:baseline-person-search" width="120"></iconify-icon>
							<p style="display: block;">비밀번호를 찾고자 하는 아이디를 입력해 주세요.</p>
						</div>
						<div id="form_id" class="form-group clearfix">
							<input id="user_id" name="user_id" type="text" class="form-control" placeholder="아이디 입력">
							<span id="error_id" class="control-label"></span>
						</div>
						<button type="button" class="btn btn-lg btn-main btn-block large" th:onclick="|location.href='@{/member/user_certification'}|">다음으로</button>
					</div>
					<p class="mt-20">아이디를 잊으셨나요?<a th:href="@{/member/find_id}"> 아이디 찾기</a></p>
				</div>
			</div>
		</div>
	</div>
</section>
