<script>

</script>

<style>
.large {
	font-size: 14px;
}

.clearfix {
	margin-top: 40px;
}
</style>

<section class="signin-page account">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="block text-center">
					<h2 class="text-center">회원가입완료</h2>
					<div class="form-group">
						<div class="clearfix">
							<p class="complete">회원가입이 <strong>완료</strong> 되었습니다.</p><br>
							<p><span>임규남</span>님의 회원가입을 축하합니다. <br><br> 알차고 실속있는 서비스로 찾아뵙겠습니다.</p><br><br>
						</div>
						
						<div class="row">
							<div class="col-xs-6 col-sm-6 col-md-6">
								<button class="btn btn-lg btn-main btn-block large text-center">홈으로</button>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6">
								<button class="btn btn-lg btn-main btn-block large text-center">로그인</button>
							</div>
						</div>
						<!-- //btn_member_sec -->
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
