<section class=account>
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="block text-center">
					<h2>비밀번호 찾기</h2>
					<div class="form-group clearfix">
						<iconify-icon icon="ic:baseline-person-search" width="120"></iconify-icon>
						<p style="display: block;">새로운 비밀번호를 등록해 주세요.</p>
						<div id="form_pwd" class="form-group has-feedback clearfix">
							<input type="password" id="pwd" name="pwd" class="form-control" placeholder="비밀번호">
							<span class="glyphicon glyphicon-eye-open form-control-feedback eye"></span>
							<span id="error_pwd" class="control-label"></span>
						</div>
						<div id="form_chk_pwd" class="form-group has-feedback">
							<input type="password" id="chk_pwd" name="chk_pwd" class="form-control" placeholder="비밀번호 확인">
							<span class="glyphicon glyphicon-eye-open form-control-feedback eye"></span>
							<span id="error_chk_pwd" class="control-label"></span>
						</div>
						<button id="btn_ok" class="btn btn-lg btn-main btn-block large" onclick="location.href='/member/login'">확인</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
