<section class=account>
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="block text-center">
					<h2 class="text-center">비밀번호 찾기</h2>
					<div class="form-group clearfix">
						<iconify-icon icon="ic:baseline-person-search" width="120" style="margin: atuol;"></iconify-icon>
						<p style="display: block;">새로운 비밀번호를 등록해 주세요.</p>
						<div class="form-group has-feedback clearfix" id="form_pwd">
							<input type="password" class="form-control" name="pwd" id="pwd" placeholder="비밀번호">
							<span class="glyphicon glyphicon-eye-open form-control-feedback eye"></span>
							<span class="control-label" id="error_pwd"></span>
						</div>
						<div class="form-group has-feedback" id="form_chk_pwd">
							<input type="password" class="form-control" name="chk_pwd" id="chk_pwd" placeholder="비밀번호 확인">
							<span class="glyphicon glyphicon-eye-open form-control-feedback eye"></span>
							<span class="control-label" id="error_chk_pwd"></span>
						</div>
						<button id="btn_ok" class="btn btn-lg btn-main btn-block large" onclick="location.href='/member/login'">확인</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
