<section class="none">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
				<div class="block text-center">
					<h2>비밀번호 찾기</h2>
					<div class="form-group clearfix">
						<iconify-icon icon="ic:baseline-person-search" width="120"></iconify-icon>
						<p>수신된 이메일의 인증번호를 입력해 주세요.</p>
						<div class="form-group clearfix">[[${data}]]
							<input type="hidden" name="auth" th:value="${session.auth}">	
							<input type="text" name="inputauth" class="form-control" placeholder="인증번호 입력">
							<span  id="" class="control-label"></span>
						</div>
						<p> 인증메일이 도착하지 않았나요? <a class="pointer" th:onclick="send_authemail([[${session.name}]],[[${session.email}]])"> 인증번호 다시받기 </a></p>														
					</div>
					<div class="row">
						<div class="col-xs-6 col-sm-6 col-md-6">
							<a th:onclick="|history.go(-1)|" class="large btn btn-solid-border btn-block">이전으로</a>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6">
							<a th:onclick="return check_auth()" class="large btn btn-main btn-block">다음으로</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
