<section class="none">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
				<div class="block text-center">
					<h2>비밀번호 찾기</h2>
					<form id="form_auth" class="clearfix" th:action="@{/member/user_authok}" th:onsubmit="return send_authemail()" th:object="${member}" method="post">
						<iconify-icon icon="ic:baseline-person-search" width="120"></iconify-icon>
						<p>이메일 본인인증입니다.<br>아래의 이메일 주소를 확인해 주세요.</p>
						<div id="form_id" class="form-group clearfix">
							<input type="hidden" th:field="*{name}" th:value="${name}">						
							<input type="hidden" th:field="*{email}" th:value="${email}">
							<p class="complete"> <strong>[ [[${masking}]] ]</strong> </p>
							<p><small>가입시 등록한 이메일로 메일이 발송됩니다.</small></p>
						</div>
						<button type="submit" class="large btn btn-main btn-block">다음으로</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
