
<body id="body">
	<!-- ========================page-header ============================ -->
	<section class="memberlist">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="page-wrapper shopping cart">
						<div class="page-header">
							<div class="container">
								<h1>1:1 문의</h1>
								<ol class="breadcrumb">
									<li><a th:href="@{/}">Home</a></li>
									<li>커뮤니티</li>
									<li class="active">1:1 문의</li>
								</ol>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<!-- ========================== page-wrapper========================== -->
	
	<div class="container">
			<h4 style="margin-bottom:20px; font-weight: bold;">문의</h4>
			
			<table class="table table-bordered">
			<colgroup>
				<col width="15%">
				<col width="55%">
				<col width="15%">
				<col width="15%">
			</colgroup>
			<tbody>
				<tr>
					<th class="active">작성자</th>
					<td class="" th:text="${qna.user_id}"></td>
					<th class="active">등록일</th>
					<td class="" th:text="${#dates.format(qna.rdate,'yyyy.MM.dd')}"></td>
				</tr>
				<tr>
					<th class="active">처리상태</th>
					<td th:if="${qna.reply != null}" colspan="3" class="">답변 완료</td>
					<td th:unless="${qna.reply != null}" colspan="3" class="">답변 대기</td>
				</tr>
				<tr>
					<th class="active">제목</th>
					<td class="" colspan="3" th:text="${qna.title}"></td>
				</tr>
				<tr>
					<th class="active align-middle" style="height:100px; ">내용</th>
					<td class="" colspan="3" th:text="${qna.content}"></td>
				</tr>
			</tbody>
		</table>
		
			<h4 style="margin:60px 0 20px 0; font-weight: bold;">답변</h4>
			
			<table class="table">
			<colgroup>
				<col width="15%">
				<col width="55%">
				<col width="15%">
				<col width="15%">
			</colgroup>
			
			<!-- 답변이 있는 경우  -->
			<tbody th:if="${qna.reply != null}">
				<tr>
					<th class="active">작성자</th>
					<td class="" th:text="${qna.reply.admin_id}"></td>
					<th class="active">등록일</th>
					<td class="" th:text="${#dates.format(qna.reply.rdate,'yyyy.MM.dd')}"></td>
				</tr>
				<tr>
					<th class="active">내용</th>
					<td style="height:100px;" class="" colspan="3" th:text="${qna.reply.reply}"></td>
				</tr>
			</tbody>
			
			<!-- 답변이 없는 경우 -->
			<tbody th:unless="${qna.reply != null}">
				<tr>
					<td class="text-center active" colspan="4">답변 대기중 입니다.</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>
