<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<script>
	function renderPagination(rowsShown, rowsTotal, pageShown, curPage) {
		
		//만약 이전에 페이지 네이션이 있다면, 제거
		if ($('ul.pagination').find('.page-item').length > 0) {
			$('.page-item').remove();
		}
		console.log("==========");
		var totalPages = parseInt((rowsTotal - 1) / rowsShown) + 1;		//전체페이지 수
		var leftPage =  1 + 5 * parseInt((curPage - 1) / pageShown);	//왼쪽 페이지 숫자
		var rightPage = leftPage + pageShown - 1;		//오른쪽 페이지 숫자
		
		
		var startItem = (curPage - 1) * rowsShown;		//tr에서 어디부터 보여줄지
		var lastItem = startItem + rowsShown;	//tr에서 어디까지 보여줄지
		
		//만약 가장 오른쪽 페이지 번호가 전체 페이지 수 보다 크다면,
		if (rightPage > totalPages){
			rightPage = totalPages;
			$('#last').addClass('disabled');	//오른쪽 버튼 막는다.
		}
		
		
		//페이지네이션 : 왼쪽으로 가기 버튼
		$('ul.pagination').append('<li id="first" class="page-item"><a class="page-link" href="#" aria-label="Previous">&laquo;</a></li>');
		
		//해당하는 페이지구현
		for (i=leftPage; i <= rightPage; i++) {
			$('ul.pagination').append('<li id="'+i+'" class="page-item pageNum"><a class="page-link" href="#">'
					+ i 
					+ '</a></li>')
		}
		
		//오른쪽 가기 버튼
		$('ul.pagination').append('<li id="last" class="page-item"><a class="page-link" href="#" aria-label="Next">&raquo;</a></li>');
		
		$('#notice_data tbody tr').hide();
		$('#notice_data tbody tr').slice(startItem, lastItem).show();
		
		$('ul.pagination li').removeClass('active');
		$('#'+curPage).addClass('active');
		
		$('ul.pagination .pageNum').on('click', function(){
			var clickedPage = $(this).attr('id');
			if (clickedPage == curPage) {
				return;
			}
			renderPagination(10, rowsTotal, pageShown, clickedPage);
		});
		
		$('#first').on('click', function(){
			if (leftPage == 1) {
				return;
			}
			var nextPageNum = (parseInt((curPage-1) / pageShown) - 1) * pageShown + 1;
			renderPagination(rowsShown, rowsTotal, pageShown, nextPageNum);
		});
	
		$('#last').on('click', function(){
			if (rightPage == totalPages) {
				return;
			}
			var nextPageNum = (parseInt((curPage-1) / pageShown) + 1) * pageShown + 1;
			renderPagination(rowsShown, rowsTotal, pageShown, nextPageNum);
		});
	}

	$(document).ready(function(){
		renderPagination(10, [[${#lists.size(notices)}]], 5, [[${page}]]);
	});
	
</script>


<body id="body">
	<!-- ========================page-header ============================ -->
	<section class="page-header"
		style="background-image: url(../images/slider/slider-2.png);">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div style="padding: 80px" class="content">
						<h1 class="text-center">NOTICE</h1>
						<h3 class="text-center col-md-12">
							<b>공지사항</b>
						</h3>
					</div>

				</div>
			</div>
		</div>
	</section>
	<!-- ========================== page-wrapper========================== -->
	<div class="container">
		<h2>공지사항</h2>

		<table id="notice_data" class="table table-hover">
			<thead>
				<tr>
					<th class="col-md-1">번호</th>
					<th class="col-md-7">제목</th>
					<th class="col-md-2">날짜</th>
					<th class="col-md-1">작성자</th>
					<th class="col-md-1">조회수</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="notice: ${notices}">
					<td th:text="${noticeStat.size - noticeStat.index}"></td>
					<td>
						<a th:if="!${keyword}" th:href="@{|/notice/${notice.b_id}?page=${noticeStat.index/10 + 1}|}" th:text="${notice.title}"></a>
						<a th:unless="!${keyword}" th:href="@{|/notice/${notice.b_id}?page=${noticeStat.index/10 + 1}&searchOption=${searchOption}&keyword=${keyword}|}" th:text="${notice.title}"></a>
					</td>
					<td th:text="${notice.rdate}"></td>
					<td th:text="${notice.admin_id}"></td>
					<td th:text="${notice.hit}"></td>
				</tr>
			</tbody>
		</table>

		<nav class="text-center">
			<ul class="pagination">
				<li id="first" class="page-item">
				<a class="page-link" href="#" aria-label="Previous">&laquo;</a>
				</li>
				<li id="last" class="page-item"><a class="page-link" href="#"
					aria-label="Next">&raquo;
				</a></li>
			</ul>
		</nav>
		
		<form id="searching_notice" class="form-inline" method="get"
			th:action="@{/notice}">
			<div class="row">
				<select name="searchOption" class="form-control col-md-offset-8">
					<option value="title" th:selected="${searchOption}=='title'">제목</option>
					<option value="content" th:selected="${searchOption}=='content'">내용</option>
					<option value="admin_id" th:selected="${searchOption}=='admin_id'">작성자</option>
				</select> 
				<input name="keyword" th:value=${keyword} class="form-control" type="search"> 
				<input class="btn btn-default" type="submit" value="검색">
			</div>
		</form>
	</div>
</body>
</html>


