<link rel="stylesheet" th:href="@{/css/style-notice.css}">

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<script>
	function deleteFaq(){
		if($('.table-content').length <= 0){
			alert("문의 내용을 선택해주세요");
			return
		}
		if(!confirm("정말 삭제하시겠습니까?")){
			return
		}
		var id = $("td[aria-pressed='true']").attr('data-id');
		location.href="/faq/delete?b_id="+id;
	}
	
	function updateFaq(){
		
		if($('.table-content').length <= 0){
			alert("문의 내용을 선택해주세요");
			return
		}
		var id = $("td[aria-pressed='true']").attr('data-id');
		location.href="/faq/write?b_id="+id;
	}
	
	function renderPagination(rowsShown, rowsTotal, pageShown, curPage) {
		
		//만약 이전에 페이지 네이션이 있다면, 제거
		if ($('ul.pagination').find('.page-item').length > 0) {
			$('.page-item').remove();
		}

		var totalPages = parseInt((rowsTotal - 1) / rowsShown) + 1;		//전체페이지 수
		var leftPage =  1 + 5 * parseInt((curPage - 1) / pageShown);	//왼쪽 페이지 숫자
		var rightPage = leftPage + pageShown - 1;		//오른쪽 페이지 숫자
		
		
		var startItem = (curPage - 1) * rowsShown;		//tr에서 어디부터 보여줄지
		var lastItem = startItem + rowsShown;	//tr에서 어디까지 보여줄지
		
		//만약 가장 오른쪽 페이지 번호가 전체 페이지 수 보다 크다면,
		if (rightPage > totalPages){
			rightPage = totalPages;
			$('#last').addClass('disabled');	//오른쪽 버튼 막는다.
		}
		
		
		//페이지네이션 : 왼쪽으로 가기 버튼
		$('ul.pagination').append('<li id="first" class="page-item"><a class="page-link" href="#" aria-label="Previous">Previous</a></li>');
		
		//해당하는 페이지구현
		for (i=leftPage; i <= rightPage; i++) {
			$('ul.pagination').append('<li id="'+i+'" class="page-item pageNum"><a class="page-link" href="#">'
					+ i 
					+ '</a></li>')
		}
		
		//오른쪽 가기 버튼
		$('ul.pagination').append('<li id="last" class="page-item"><a class="page-link" href="#" aria-label="Next">Next</a></li>');
		
		$('#faq_data tbody tr').hide();
		$('#faq_data tbody tr').slice(startItem, lastItem).show();
		
		$('ul.pagination li').removeClass('active');
		$('#'+curPage).addClass('active');
		
		$('ul.pagination .pageNum').on('click', function(){
			var clickedPage = $(this).attr('id');
			if (clickedPage == curPage) {
				return;
			}
			renderPagination(10, rowsTotal, pageShown, clickedPage);
		});
		
		$('#first').on('click', function(){
			if (leftPage == 1) {
				return;
			}
			var nextPageNum = (parseInt((curPage-1) / pageShown) - 1) * pageShown + 1;
			renderPagination(rowsShown, rowsTotal, pageShown, nextPageNum);
		});
	
		$('#last').on('click', function(){
			if (rightPage == totalPages) {
				return;
			}
			var nextPageNum = (parseInt((curPage-1) / pageShown) + 1) * pageShown + 1;
			renderPagination(rowsShown, rowsTotal, pageShown, nextPageNum);
		});
	}
	
	

	$(document).ready(function(){
		renderPagination(10, [[${#lists.size(faqs)}]], 5, [[${page}]]);
		
		/* 문의 클릭시, 문의 내용 ajax 통신으로 렌더링해준다. */
		$("td[aria-pressed='false']").click(function(){
			
			if ($(this).attr('aria-pressed') == 'false'){
				
				/* 기존에 표시되어있던 content 제거 */
				if($('.table-content').length > 0){
					$('.table-content').remove();
					/* 기존에 클릭되어있던 항목 다시 원상 복구 */
					$("td[aria-pressed='true']").attr('aria-pressed', 'false');
				}

				$(this).attr('aria-pressed', 'true');
				
				var id = $(this).attr("data-id");
				var html = "";
				console.log(id);
				
				
				$.ajax({
					type : "GET",
					url : "/faq/content",
					data : "b_id=" + id,
					success: function(content){
						html = `<tr class="table-content">
									<td></td>
									<td>${content}</td>
								</tr>`;
						console.log(content);
						$('td[data-id='+ id +']').closest('tr').after(html);
					},
					error: function(XMLHttpRequest, textStatus, errorThrown){
						alert("통신 실패.")
					}
				});
			}
			
			/* 클릭되어서 내용이 표시되어있는 항목 한번더 클릭 시 */
			else{
				$('.table-content').remove();
				/* 기존에 클릭되어있던 항목 다시 원상 복구 */
				$("td[aria-pressed='true']").attr('aria-pressed', 'false');
			}
			
		});
		
	});
	
</script>


<body id="body">
	<!-- ========================page-header ============================ -->
	<section class="memberlist">
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div class="page-wrapper shopping cart">
						<div class="page-header">
							<div class="container">
								<h1>자주하는 문의</h1>
								<ol class="breadcrumb">
									<li><a th:href="@{/}">Home</a></li>
									<li>커뮤니티</li>
									<li class="active">자주하는 문의</li>
								</ol>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<!-- ========================== page-wrapper========================== -->
	<div class="container">
		<div class="col-md-10 col-md-offset-1">
			<form id="searching_faq" class="form-inline" method="get" th:action="@{/faq}">
				<div class="row">
					<select name="searchOption" class="form-control">
						<option value="title" th:selected="${searchOption}=='title'">제목</option>
						<option value="content" th:selected="${searchOption}=='content'">내용</option>
						<option value="admin_id" th:selected="${searchOption}=='admin_id'">작성자</option>
					</select> 
					<input name="keyword" th:value=${keyword} class="form-control" type="search"> 
					<input class="btn btn-default" type="submit" value="검색">
					<div class="btn-group pull-right" role="group">
						<button type="button" class="btn btn-default"><a href="/faq/write">등록</a></button>
						<button type="button" class="btn btn-default" onclick='updateFaq()'>수정</button>
						<button type="button" class="btn btn-default" onclick='deleteFaq()'>삭제</button>
					</div>
				</div>
			</form>
			<br><br>
			<table id="faq_data" class="table table-hover">
				<thead>
					<tr>
						<th class="col-md-1">번호</th>
						<th class="col-md-7">문의</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="faq: ${faqs}">
						<td th:text="${faqStat.size - faqStat.index}"></td>
						<td style="cursor:pointer;" aria-pressed="false" th:data-id="${faq.b_id}" th:text="${faq.title}"></td>
					</tr>
				</tbody>
			</table>
			
			<nav class="text-center">
				<ul class="pagination post-pagination">
					<li id="first" class="page-item">
					<a class="page-link" href="#" aria-label="Previous">Prev</a>
					</li>
					<li id="last" class="page-item"><a class="page-link" href="#"
						aria-label="Next">Next
					</a></li>
				</ul>
			</nav>
		</div>
	</div>
</body>
</html>