<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<script>
	$(".print-content").click(function(){
		alert($(this).attr("data-id"));
/* 		 $.ajax({
             type : "GET",            // HTTP method type(GET, POST) 형식이다.
             url : "/test/ajax",                                                                                                   // 컨트롤러에서 대기중인 URL 주소이다.
             data : params,            // Json 형식의 데이터이다.
             success : function(res){ // 비동기통신의 성공일경우 success콜백으로 들어옵니다. 'res'는 응답받은 데이터이다.
                 // 응답코드 > 0000
                 alert(res.code);
             },
             error : function(XMLHttpRequest, textStatus, errorThrown){ // 비동기 통신이 실패할경우 error 콜백으로 들어옵니다.
                 alert("통신 실패.")
             }
         }); */
	});
	
	
	function renderPagination(rowsShown, rowsTotal, pageShown, curPage) {
		
		//만약 이전에 페이지 네이션이 있다면, 제거
		if ($('ul.pagination').find('.page-item').length > 0) {
			$('.page-item').remove();
		}
		console.log("==========");
		var totalPages = parseInt((rowsTotal - 1) / rowsShown) + 1;		//전체페이지 수
		var leftPage =  1 + 5 * parseInt((curPage - 1) / pageShown);	//왼쪽 페이지 숫자
		var rightPage = leftPage + pageShown - 1;		//오른쪽 페이지 숫자
		
		
		var startItem = (curPage - 1) * rowsShown;		//tr에서 어디부터 보여줄지
		var lastItem = startItem + rowsShown;	//tr에서 어디까지 보여줄지
		
		//만약 가장 오른쪽 페이지 번호가 전체 페이지 수 보다 크다면,
		if (rightPage > totalPages){
			rightPage = totalPages;
			$('#last').addClass('disabled');	//오른쪽 버튼 막는다.
		}
		
		
		//페이지네이션 : 왼쪽으로 가기 버튼
		$('ul.pagination').append('<li id="first" class="page-item"><a class="page-link" href="#" aria-label="Previous">Previous</a></li>');
		
		//해당하는 페이지구현
		for (i=leftPage; i <= rightPage; i++) {
			$('ul.pagination').append('<li id="'+i+'" class="page-item pageNum"><a class="page-link" href="#">'
					+ i 
					+ '</a></li>')
		}
		
		//오른쪽 가기 버튼
		$('ul.pagination').append('<li id="last" class="page-item"><a class="page-link" href="#" aria-label="Next">Next</a></li>');
		
		$('#faq_data tbody tr').hide();
		$('#faq_data tbody tr').slice(startItem, lastItem).show();
		
		$('ul.pagination li').removeClass('active');
		$('#'+curPage).addClass('active');
		
		$('ul.pagination .pageNum').on('click', function(){
			var clickedPage = $(this).attr('id');
			if (clickedPage == curPage) {
				return;
			}
			renderPagination(10, rowsTotal, pageShown, clickedPage);
		});
		
		$('#first').on('click', function(){
			if (leftPage == 1) {
				return;
			}
			var nextPageNum = (parseInt((curPage-1) / pageShown) - 1) * pageShown + 1;
			renderPagination(rowsShown, rowsTotal, pageShown, nextPageNum);
		});
	
		$('#last').on('click', function(){
			if (rightPage == totalPages) {
				return;
			}
			var nextPageNum = (parseInt((curPage-1) / pageShown) + 1) * pageShown + 1;
			renderPagination(rowsShown, rowsTotal, pageShown, nextPageNum);
		});
	}
	
	

	$(document).ready(function(){
		renderPagination(10, [[${#lists.size(faqs)}]], 5, [[${page}]]);
	});
	
</script>


<body id="body">
	<!-- ========================page-header ============================ -->
	<section class="page-header" style="background-image: url(../images/slider/slider-2.png);">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div style="padding:80px" class="content">
						<h1 class="text-center">FAQ</h1>
						<h3 style="display:block" class="text-center"><b>자주하는 문의</b></h3>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- ========================== page-wrapper========================== -->
	<div class="container">
		<div class="col-md-8 col-md-offset-2">
			<h2>자주하는 문의</h2><br>
			<form id="searching_faq" class="form-inline" method="get" th:action="@{/faq}">
				<div class="row">
					<select name="searchOption" class="form-control">
						<option value="title" th:selected="${searchOption}=='title'">제목</option>
						<option value="content" th:selected="${searchOption}=='content'">내용</option>
						<option value="admin_id" th:selected="${searchOption}=='admin_id'">작성자</option>
					</select> 
					<input name="keyword" th:value=${keyword} class="form-control" type="search"> 
					<input class="btn btn-default" type="submit" value="검색">
					<button type="button" class="btn btn-default pull-right"><a th:href="@{/faq/write}">등록</a></button>
				</div>
			</form>
			<br><br>
			<table id="faq_data" class="table table-hover">
				<thead>
					<tr>
						<th class="col-md-1">번호</th>
						<th class="col-md-7">문의</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="faq: ${faqs}">
						<td th:text="${faqStat.size - faqStat.index}"></td>
						<td class="print-content" data-pressed="false" data-id="${faq.b_id}" style="cursor:pointer;" th:text="${faq.title}"></td>
					</tr>
				</tbody>
			</table>
			
			<nav class="text-center">
				<ul class="pagination post-pagination">
					<li id="first" class="page-item">
					<a class="page-link" href="#" aria-label="Previous">Prev</a>
					</li>
					<li id="last" class="page-item"><a class="page-link" href="#"
						aria-label="Next">Next
					</a></li>
				</ul>
			</nav>
		</div>
	</div>
</body>
</html>


