<link th:href="@{/css/coupon.css}" rel="stylesheet">

<div class="content">
	<div class="mypage_cont">
		<div class="addition_zone">
			<div class="onAll">
				<img src="/images/event/couponzone.jpeg" alt="">
			</div>

		</div>
		<div class="couponzone_title">
			<h1>
				sof8 회원이라면<br/>받을 수 있는 특별한 쿠폰 혜택
			</h1>
			<p>다양한 쿠폰 혜택으로 쇼핑을 즐겨보세요!</p>
		</div>

		<div class="coupon_cont">
           <div class="cp_list_wrap cp_down0 " id="cp_list_wrap0">
				<div class="list_top ">
					<h2 class="title">1월 메인 기획전</h2>

				</div>
				<ul class="cp_list">

					<li class="">
						<div class="box_coupon">
							<div class="img_cp">
                               <img src="https://igaboro.kr/renewal/img/event/coupon_img01.png" alt="쿠폰이미지" />
							</div>
							<div class="text_wrap">
								<div class="text_info">
									<span class="sale">15<i>%</i></span> 
									<span class="tit">Happy New Year 15%</span> 
									<span class="txt">상품할인</span> 
									<span class="date">2023-01-02 00:00~2023-01-31 23:59</span> 
									<a href="#" class="btn_go" target="_blank"> </a>
								</div>
								<a href="#;" data-coupon-no="200"
									class="cp_state cp_down_2 btn_alert_login"><img
									src="https://igaboro.kr/renewal/common/icon/icon_coupon_down.svg"
									alt="쿠폰 다운로드"></a>
							</div>
						</div>

					</li>

					<li class="last">
						<div class="box_coupon">
							<div class="img_cp">
                                <img src="https://igaboro.kr/renewal/img/event/coupon_img01.png" alt="쿠폰이미지" />
							</div>
							<div class="text_wrap">
								<div class="text_info">
									<span class="sale">7<i>%</i></span> 
									<span class="tit">Happy New Year 7%</span> 
									<span class="txt">상품할인</span> 
									<span class="date">2023-01-02 00:00~2023-01-31 23:59</span> 
									<a href="#" class="btn_go" target="_blank"> </a>
								</div>
								<a href="#;" data-coupon-no="201"
									class="cp_state cp_down_2 btn_alert_login"><img
									src="https://igaboro.kr/renewal/common/icon/icon_coupon_down.svg"
									alt="쿠폰 다운로드"></a>

							</div>
						</div>
					</li>
				</ul>
			</div>

			<div class="cp_list_wrap cp_down1 margin-type" id="cp_list_wrap1">
				<div class="list_top ">
					<h2 class="title">온라인 전용 상품 기획전</h2>
				</div>
				<ul class="cp_list">

					<li class="">
						<div class="box_coupon">
							<div class="img_cp">
								<img src="https://igaboro.kr/renewal/img/event/coupon_img02.png" alt="쿠폰이미지" />
							</div>
							<div class="text_wrap">
								<div class="text_info">
									<span class="sale">15<i>%</i></span> 
									<span class="tit">sof8몰 전용 신상소파 할인</span> 
									<span class="txt">상품할인</span> 
									<span class="date">발급일로부터 30일까지</span> 
									<a href="https://www.jakomo.co.kr/main/html.php?htmid=sales/only_jakomo.html" class="btn_go" target="_blank"> </a>
								</div>
								<a href="#;" data-coupon-no="145" class="cp_state cp_down_2 btn_alert_login">
								<img src="https://igaboro.kr/renewal/common/icon/icon_coupon_down.svg" alt="쿠폰 다운로드"></a>
							</div>
						</div>

					</li>

					<li class="last">
						<div class="box_coupon">
							<div class="img_cp">

								<img src="https://igaboro.kr/renewal/img/event/coupon_img02.png" alt="쿠폰이미지" />
							</div>
							<div class="text_wrap">
								<div class="text_info">
									<span class="sale">10<i>%</i></span> 
									<span class="tit">sof8몰 전용 소파 할인</span> 
									<span class="txt">상품할인</span> 
									<span class="date">발급일로부터 30일까지</span> 
									<a href="https://www.jakomo.co.kr/main/html.php?htmid=sales/only_jakomo.html" class="btn_go" target="_blank"></a>
								</div>
								<a href="#;" data-coupon-no="146" class="cp_state cp_down_2 btn_alert_login">
								<img src="https://igaboro.kr/renewal/common/icon/icon_coupon_down.svg" alt="쿠폰 다운로드"></a>
							</div>
						</div>

					</li>
				</ul>
			</div>

			<div class="cp_list_wrap cp_down2 margin-type" id="cp_list_wrap2">
				<div class="list_top ">
					<h2 class="title">상시 기획전</h2>
               </div>

                 <ul class="cp_list">
					<li class="">
						<div class="box_coupon">
							<div class="img_cp">
                              <img src=" https://igaboro.kr/renewal/img/event/coupon_img03.png" alt="쿠폰이미지" />
							</div>
							<div class="text_wrap">
								<div class="text_info">
									<span class="sale">7<i>%</i></span>
									 <span class="tit">신상품 할인</span> 
									 <span class="txt">상품할인</span> 
									 <span class="date">발급일로부터 30일까지</span> 
									 <a href="https://www.jakomo.co.kr/main/html.php?htmid=sales/newproduct.html"
										class="btn_go" target="_blank"> </a>
								</div>
								<a href="#;" data-coupon-no="140" class="cp_state cp_down_2 btn_alert_login">
									<img src="https://igaboro.kr/renewal/common/icon/icon_coupon_down.svg" alt="쿠폰 다운로드"></a>
							</div>
						</div>

					</li>

					<li class="last">
						<div class="box_coupon">
							<div class="img_cp">

								<img src="https://igaboro.kr/renewal/img/event/coupon_img03.png" alt="쿠폰이미지" />
							</div>
							<div class="text_wrap">
								<div class="text_info">
									<span class="sale">5<i>%</i></span> 
									<span class="tit">MINIMAL LIFE</span> 
									<span class="txt">상품할인</span> 
									<span class="date">발급일로부터 30일까지</span> 
									<a href="https://www.jakomo.co.kr/main/html.php?htmid=sales/minimalife.html" class="btn_go" target="_blank"> </a>
								</div>
								<a href="#;" data-coupon-no="165"
									class="cp_state cp_down_2 btn_alert_login"><img
									src="https://igaboro.kr/renewal/common/icon/icon_coupon_down.svg"
									alt="쿠폰 다운로드"></a>
							</div>
						</div>

					</li>

					<li class="">
						<div class="box_coupon">
							<div class="img_cp">

								<img src="https://igaboro.kr/renewal/img/event/coupon_img03.png" alt="쿠폰이미지" />
							</div>
							<div class="text_wrap">
								<div class="text_info">
									<span class="sale">5<i>%</i></span> 
									<span class="tit">HEALING SOFA</span> 
									<span class="txt">상품할인</span> 
									<span class="date">발급일로부터 30일까지</span> 
									<a href="https://www.jakomo.co.kr/main/html.php?htmid=sales/healing.html" class="btn_go" target="_blank"> </a>
								</div>
								<a href="#;" data-coupon-no="153" class="cp_state cp_down_2 btn_alert_login">
									<img src="https://igaboro.kr/renewal/common/icon/icon_coupon_down.svg" alt="쿠폰 다운로드"></a>
							</div>
						</div>

					</li>

					<li class="last">
						<div class="box_coupon">
							<div class="img_cp">

								<img src="https://igaboro.kr/renewal/img/event/coupon_img03.png" alt="쿠폰이미지" />
							</div>
							<div class="text_wrap">
								<div class="text_info">
									<span class="sale">5<i>%</i></span> 
									<span class="tit">드라마 속 소파 할인</span> 
									<span class="txt">상품할인</span> 
									<span class="date">발급일로부터 30일까지</span> 
									<a href="https://www.jakomo.co.kr/main/html.php?htmid=sales/drama.html" class="btn_go" target="_blank"> </a>
								</div>
								<a href="#;" data-coupon-no="144" class="cp_state cp_down_2 btn_alert_login">
								<img src="https://igaboro.kr/renewal/common/icon/icon_coupon_down.svg" alt="쿠폰 다운로드"></a>
							</div>
						</div>

					</li>

					<li class="">
						<div class="box_coupon">
							<div class="img_cp">

								<img src="https://igaboro.kr/renewal/img/event/coupon_img03.png" alt="쿠폰이미지" />
							</div>
							<div class="text_wrap">
								<div class="text_info">
									<span class="sale">5<i>%</i></span> 
									<span class="tit">패브릭 소파 할인</span> 
									<span class="txt">상품할인</span>
									<span class="date">발급일로부터 30일까지</span> 
									<a href="https://www.jakomo.co.kr/main/html.php?htmid=sales/fabric.html" class="btn_go" target="_blank"> </a>
								</div>
								<a href="#;" data-coupon-no="141" class="cp_state cp_down_2 btn_alert_login">
								<img src="https://igaboro.kr/renewal/common/icon/icon_coupon_down.svg" alt="쿠폰 다운로드"></a>
							</div>
						</div>

					</li>

					<li class="last">
						<div class="box_coupon">
							<div class="img_cp">

								<img src=" https://igaboro.kr/renewal/img/event/coupon_img03.png " alt="쿠폰이미지" />
							</div>
							<div class="text_wrap">
								<div class="text_info">
									<span class="sale">10<i>%</i></span> 
									<span class="tit">프리미엄 소파 할인</span> 
									<span class="txt">상품할인</span> 
									<span class="date">발급일로부터 30일까지</span> 
									<a href="https://www.jakomo.co.kr/main/html.php?htmid=sales/special.html" class="btn_go" target="_blank"> </a>
								</div>
								<a href="#;" data-coupon-no="142" class="cp_state cp_down_2 btn_alert_login">
								<img src="https://igaboro.kr/renewal/common/icon/icon_coupon_down.svg" alt="쿠폰 다운로드"></a>
							</div>
						</div>

					</li>
				</ul>
			</div>


			<!-- 모든 쿠폰 발급 버튼 -->
			<a href="javascript:;" class="btn_all_down pull">쿠폰 한번에 받기</a>
		</div>
		<!-- 유의사항 -->
		<div class="bottom_notice">
			<dl>
				<dt>유의사항</dt>
				<dd>
					<p>쿠폰은 쿠폰당 1회 주문, 한상품 결제 시에 한해서만 적용하실 수 있습니다. (단, 중복 적용 가능 쿠폰 제외)</p><br>
					<p>쿠폰은 유효기간 이내에 사용하셔야 합니다. 유효기간이 만료된 쿠폰은 더 이상 사용하실 수 없습니다.</p><br>
					<p>쿠폰 상품은 사은행사에서 제외될 수 있습니다.</p><br>
					<p>받으신 쿠폰은 마이페이지 > 쇼핑 혜택 > 쿠폰에서 확인하실 수 있습니다.</p><br>
					<p>일부 상품은 쿠폰 적용에서 제외 될 수 있으며, 쿠폰 적용 불가 상품은 상품페이지 내 상품 요약 정보에서 확인 가능합니다.</p><br>
				</dd>
			</dl>
		</div>
	</div>

</div>


<script>
	$(document).ready(function() {
		var couponArrData = [];
		var total = 0;

		var $div = $('.cp_down0');
		$div.find('.btn_coupon_down').each(function(index, item) {
			couponArrData.push($(item).data('coupon-no'));
		});
		$div.find('.cp_state').each(function(index, item) {
			total++;
		});

		var $div = $('.cp_down1');
		$div.find('.btn_coupon_down').each(function(index, item) {
			couponArrData.push($(item).data('coupon-no'));
		});
		$div.find('.cp_state').each(function(index, item) {
			total++;
		});

		var $div = $('.cp_down2');
		$div.find('.btn_coupon_down').each(function(index, item) {
			couponArrData.push($(item).data('coupon-no'));
		});
		$div.find('.cp_state').each(function(index, item) {
			total++;
		});

		var $div = $('.cp_down3');
		$div.find('.btn_coupon_down').each(function(index, item) {
			couponArrData.push($(item).data('coupon-no'));
		});
		$div.find('.cp_state').each(function(index, item) {
			total++;
		});
		var countCoupon = couponArrData.length;
		console.log(total);
		console.log(countCoupon);

		//쿠폰존 text 중앙정렬
		$('.text_wrap').each(function() {
			var txtWrap = $(this);
			var txtH = txtWrap.height();
			/*
			$(this).css({
			    'margin-top': -(txtH / 2) + 'px',
			})
			 */
		});

		$(".sub_menu_box").hide();

		// 쿠폰그룹 내 노출되는 쿠폰이 1개도 없는 경우 해당 쿠폰그룹 전체 미노출 처리
		$('.cp_list_wrap ').each(function() {
			if ($(this).find('li').length <= 0)
				$(this).hide();
		})

		if ($('ul.cp_list li').length <= 0) {
			$('.cp_list_none').show();
		}

		var btnDisabled = false;

		// 쿠폰 받기
		$('.btn_coupon_down').click(function(e) {
			if (btnDisabled)
				return false;
			btnDisabled = true;
			var couponNo = $(this).data('coupon-no');
			$.ajax({
				method : "POST",
				cache : false,
				url : "../mypage/coupon_ps.php",
				data : "mode=couponDown&couponNo=" + couponNo,
				dataType : 'json',
				async : false,
				success : function(data) {
					alert(data['message']);
					btnDisabled = false;
					if (data['code'] > 0)
						location.reload();
				},
				error : function(e) {
					console.log(e);
					btnDisabled = false;
				}
			});
		});

		// 쿠폰 모두 받기 안씀
		$('.btn_all_coupon_down').click(function(e) {
			if (btnDisabled)
				return false;
			btnDisabled = true;
			var $div = $(this).parents('div.cp_list_wrap');
			var couponArrData = [];
			$div.find('.btn_coupon_down').each(function(index, item) {
				couponArrData.push($(item).data('coupon-no'));
			});
			var total = $div.find('li').length;
			var countCoupon = couponArrData.length;

			console.log(countCoupon);

			if (countCoupon > 0) {
				var params = {
					total : total,
					couponNo : couponArrData,
					mode : 'couponDownAll'
				};
				$.ajax({
					method : "POST",
					cache : false,
					url : "../mypage/coupon_ps.php",
					data : params,
					dataType : 'json',
					async : false,
					success : function(data) {
						alert(data['message']);
						btnDisabled = false;
						if (data['code'] > 0)
							location.reload();
					},
					error : function(e) {
						console.log(e);
						btnDisabled = false;
					}
				});
			} else {
				alert("발급 가능 쿠폰이 없습니다.");
				btnDisabled = false;
				return false;
			}
		});

		// 쿠폰 모두 모두 받기
		$('.btn_all_down').click(function(e) {
			alert("로그인하셔야 본 서비스를 이용하실 수 있습니다.");
			location.href = "../member/login.html";

		});

	});
</script>
