<link th:href="@{/css/event.css}" rel="stylesheet">

<div class="contentsBox">
				<div class="contents_title"
					style="display:none;"> </div>
				<div class="box" style="text-align:center;max-width:100%;width:100%;margin-top:100px;">
					<img class="contents_100img" src="/images/event/weddingMem.jpeg" ></div>
				<div style="clear:both"></div>
				<div class="contents_100contents"
					style="display:none;"> </div>

				<div style="clear:both"></div>
			</div>
			<div id="2"> 
	<div class="contentsBox">
		<div class="box" style="text-align:center;max-width:100%;width:100%;margin-top:100px;">
			<div class="contents_title" style="display:none;"> </div>
			<div class="contents_100contents" style="display:block;"> 
			  <p style="text-align: center;"><br></p>
			  <p style="text-align: center;"><br></p></div>

		</div>
	</div>
			
				
			<div class="contentsBox">
				<div class="contents_title" style="display:none;"> </div>
				<div class="box" >
					<img class="contents_100img" src="/images/event/weddingevent.jpeg" ></div>
					<div style="clear:both"></div>
					<div class="contents_100contents" style="display:none;"> </div>
			    </div>
				
			</div>
			
			
			
	<div class="contentsBox">
		<div class="box">
			<div class="contents_title"	style="display:none;"> </div>
			<div class="contents_100contents" style="display:none;"> </div>

		</div>
	</div>
	<div class="contentsBox">
			<div  class="contents_title"
				style="display:none;"> </div>
			<div class="box" >

				
				<a href="https://form.office.naver.com/form/responseView.cmd?formkey=NDg5YjRjNDMtOTA5NS00OTNkLThiOTUtNzAyMzQwMTA5OGZh&sourceId=urlshare" target="_blank">
						<img class="contents_50img" onload="$(this).css('display', 'inline');" src="https://cdn.iloom.com/upload/contents/20221103/S600_dec570d5-b1cb-491f-b165-0c39aa10da60.jpg"></a>
				</div>
			<div style="clear:both"></div>


			</div>