<section th:fragment="main-menu" class="menu">
	<nav class="navbar navigation">
		<div class="container">
			<div class="navbar-header">
				<h2 class="menu-title">메인 메뉴</h2>
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> 
					<span class="icon-bar"></span>
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span>
				</button>
			</div>
			<!-- / .navbar-header -->
			<!-- Navbar Links -->
			<div id="navbar" class="navbar-collapse collapse text-center">
				<ul class="nav navbar-nav">

					<!-- Home -->
					<li class="dropdown ">
						<a th:href="@{/}"><iconify-icon icon="ion:home"></iconify-icon> 홈</a>
					</li><!-- / Home -->

					<!-- Brend -->
					<li class="dropdown dropdown-slide">
						<a href="#!" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="350"
							role="button" aria-haspopup="true" aria-expanded="false">브랜드 <span
								class="tf-ion-ios-arrow-down"></span></a>
						<ul class="dropdown-menu">
							<li><a th:href="@{/brand/company}">회사소개</a></li>
							<li><a th:href="@{/brand/products}">제품소개</a></li>
							<li><a th:href="@{/brand/showroom}">쇼룸안내</a></li>
						</ul>
					</li><!-- / Brend -->

					<!-- Pages -->
					<li class="dropdown dropdown-slide">
						<a href="#!" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="350"
							role="button" aria-haspopup="true" aria-expanded="false">전체 상품 <span
								class="tf-ion-ios-arrow-down"></span></a>
						<div class="dropdown-menu">
							<div class="row">
								<!-- product -->
								<div class="col-xs-12">
									<ul>
										<li><a th:href="@{/product/productall}">전체보기</a></li>
										<li><a th:href="@{/product/fabric}">페브릭소파</a></li>
										<li><a th:href="@{/product/leather}">가죽소파</a></li>
										<li><a th:href="@{/product/pet}">펫소파</a></li>
										<li><a th:href="@{/product/livingroom}">리빙룸</a></li>
									</ul>
								</div>
							</div><!-- / .row -->
						</div><!-- / .dropdown-menu -->
					</li><!-- / Pages -->

					<!-- Blog -->
					<li class="dropdown dropdown-slide">
						<a href="#!" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="350"
							role="button" aria-haspopup="true" aria-expanded="false">커뮤니티 <span
								class="tf-ion-ios-arrow-down"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#" th:href="@{/notice}">공지사항</a></li>
							<li><a href="#" th:href="@{/faq}">자주하는 문의</a></li>
							<li th:if="${session.admin != null}"><a href="#" th:href="@{/admin/qna}">1:1 문의목록</a></li><!-- 관리자만 이 항목이 보임  -->
						</ul>
					</li><!-- / Blog -->

					<!-- Shop -->
					<li class="dropdown dropdown-slide">
						<a href="#!" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="350"
							role="button" aria-haspopup="true" aria-expanded="false">이벤트 <span
								class="tf-ion-ios-arrow-down"></span></a>
						<ul class="dropdown-menu">
							<li><a th:href="@{/event/event}">이벤트</a></li>
							<li><a th:href="@{/event/coupon}">쿠폰</a></li>
						</ul>
					</li><!-- / Blog -->
				</ul><!-- / .nav .navbar-nav -->

			</div>
			<!--/.navbar-collapse -->
		</div><!-- / .container -->
	</nav>
</section>