<section th:fragment="page-header" class="fabric-bar page-header">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="content">
					<h1 class="page-name">패브릭소파</h1>
					<ol class="breadcrumb">
						<li><a th:href="@{/product/productall}">전체보기</a></li>
						<li id="now_category">패브릭소파</a></li>
						<li><a th:href="@{/product/leather}">가죽소파</a></li>
						<li><a th:href="@{/product/pet}">펫소파</a></li>
						<li><a th:href="@{/product/livingroom}">리빙룸</a></li>
					</ol>
					<li th:if="${session.admin != null}"><a th:href="@{/admin/registerproduct}">상품등록</a></li>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="products section">
	<div class="container">
		<div class="row">
		<!-- 상품 검색 -->
			<div class="col-md-12 col-sm-12 col-xs-12">
				<form>
					<div class="pull-right">
						<select name="type" class="form-control search type">
							<option value="p_name" th:text="상품명" th:selected="${type}=='p_name'"></option>
							<option value="color" th:text="컬러" th:selected="${type}=='color'"></option>
							<option value="size" th:text="사이즈" th:selected="${type}=='size'"></option>
						</select>
						<input type="search" name="keyword" class="form-control search search_word" th:value=${keyword}>
						<button type="submit" class="btn btn-default search_btn" th:text="검색"></button>
						<a th:href="@{/product/fabric?page=1}"><iconify-icon class="reset" icon="ion:refresh-circle" width="30"></iconify-icon></a>
					</div>
				</form>
			</div>
			<tr th:each="p : ${plist}">
				<!-- 사용자가 보는 상품보기 -->
				<div class="col-md-4" id="product-list" th:if="${p.visiable} == true and ${session.admin == null}" >
					<div class="product-item">
						<div class="product-thumb" th:OnClick="|location.href ='@{/product/productdetail(p_id=${p.p_id})}'|" th:value="${p.p_id}" style="cursor:pointer;" >
							<td><img class="img-responsive" th:src="@{/images/shop/products/}+${p.p_img}"/></td>
							<input type="hidden" name="p_img" th:value="${p.p_img}">
						</div>
						<div class="product-content">
							<td><h4><a th:href="@{/product/productdetail(p_id=${p.p_id})}" th:value="${p.p_id}" th:text="${p.p_name}"></a></h4></td>
							<p class="price"><td th:text="${p.price}"></td></p>
						</div>
					</div>
				</div>
				<!-- 관리자가 보는 상품 보기 -->
				<div class="col-md-4" id="product-list" th:if="${session.admin != null}" >
					<div class="product-item">	
						<div class="product-thumb" th:OnClick="|location.href ='@{/product/productdetail(p_id=${p.p_id})}'|" th:value="${p.p_id}" style="cursor:pointer;" >
							<span class="check-visiable" th:if="${p.visiable} == false">상품 안 보임</span>
							<td><img class="img-responsive" th:src="@{/images/shop/products/}+${p.p_img}"/></td>
							<input type="hidden" name="p_img" th:value="${p.p_img}">
						</div>
						<div class="product-content">
							<td><h4><a th:href="@{/product/productdetail(p_id=${p.p_id})}" th:value="${p.p_id}" th:text="${p.p_name}"></a></h4></td>
							<p class="price"><td th:text="${p.price}"></td></p>
						</div>
					</div>
				</div>
			</tr>	
		</div>
		<div class="text-center">
			<ul class="pagination post-pagination"
				th:if="${paging.totalRow > 0}">
				<!-- 맨 처음 페이지 이동 -->
				<li th:if="${paging.startPage > 1}">
					<a th:if="${paging.keyword == null}" th:href="@{'fabric?page=1'}" th:text="처음"></a>
					<a th:if="${paging.keyword != null}" th:href="@{'fabric?page=1'+'&type='+${paging.type}+'&keyword='+${paging.keyword}}" th:text="처음"></a>
				</li>
				<!-- 이전 블록 이동 -->
				<li th:if="${paging.prev}">
					<a th:if="${paging.keyword == null}" th:href="@{'fabric?page='+${paging.startPage-1}}" th:text="이전"></a>
					<a th:if="${paging.keyword != null}" th:href="@{'fabric?page='+${paging.startPage-1}+'&type='+${paging.type}+'&keyword='+${paging.keyword}}" th:text="이전"></a>
				</li>
				<!-- 시퀀스 보여주는 값 변경 -->
				<li th:each="pageNum : ${#numbers.sequence(paging.startPage, paging.endPage)}" th:class="${pageNum == paging.page} ? 'active'">
					<a th:if="${paging.keyword == null}" th:href="@{'fabric?page='+${pageNum}}" th:text="${pageNum}"></a>
					<a th:if="${paging.keyword != null}" th:href="@{'fabric?page='+${pageNum}+'&type='+${paging.type}+'&keyword='+${paging.keyword}}" th:text="${pageNum}"></a>
				</li>
				<!-- 다음 블록으로 이동 -->
				<li th:if="${paging.next}">
					<a th:if="${paging.keyword == null}" th:href="@{'fabric?page='+|${paging.endPage + 1}|}" th:text="다음"></a>
					<a th:if="${paging.keyword != null}" th:href="@{'fabric?page='+|${paging.endPage + 1}|+'&type='+${paging.type}+'&keyword='+${paging.keyword}}" th:text="다음"></a>
				</li>
				<!-- 맨 뒷 페이지로 이동 -->
				<li th:if="${paging.endPage < paging.totalPage}">
					<a th:if="${paging.keyword == null}" th:href="@{'fabric?page='+${paging.totalPage}}" th:text="끝"></a>
					<a th:if="${paging.keyword != null}" th:href="@{'fabric?page='+${paging.totalPage}+'&type='+${paging.type}+'&keyword='+${paging.keyword}}" th:text="끝"></a>
				</li>
			</ul>
		</div>
	</div>
</section>