<section th:fragment="page-header" class="page-header">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="content">
					<h1 class="page-name">가죽소파</h1>
					<ol class="breadcrumb">
						<li><a th:href="@{/product/productall}">전체보기</a></li>
						<li><a th:href="@{/product/fabric}">페브릭소파</a></li>
						<li id="now_category">가죽소파</li>
						<li><a th:href="@{/product/pet}">펫소파</a></li>
						<li><a th:href="@{/product/livingroom}">리빙룸</a></li>
						
					</ol>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="products section">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="product-item">
					<div class="product-thumb">
						<span class="bage">Sale</span>
						<a th:href="@{/}"><img class="img-responsive" th:src="@{/images/shop/products/product-1.jpg}"  alt="product-img" /></a>
						<div class="preview-meta">
							<ul>
								<li>
			                        <a href="#!" ><i class="tf-ion-ios-heart"></i></a>
								</li>
								<li>
									<a href="#!"><i class="tf-ion-android-cart"></i></a>
								</li>
							</ul>
                      	</div>
					</div>
					<div class="product-content">
						<h4><a href="product-single.html">Reef Boardsport</a></h4>
						<p class="price">$200</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>