<link rel="stylesheet" type="text/css" th:href="@{/css/style-product-reviewqna.css}">
<script>
	// 카테고리 페이지로 이동
	function subcategory(){
		$('#sub-category').click(function(){
			var subcategory = $('#sub-category').text();
			if(subcategory == '패브릭소파'){
				location.href="[[@{/product/fabric}]]";
			}else if(subcategory == '가죽소파'){
				location.href="[[@{/product/leather}]]";
			}else if(subcategory == '펫소파'){
				location.href="[[@{/product/pet}]]";
			}else if(subcategory == '리빙룸'){
				location.href="[[@{/product/livingroom}]]";
			}
		});
	};
	
	// 상품 삭제
	function deleteproduct(){
		$('#delete_btn').click(function(){
			var c = confirm('삭제 하시겠습니까 ?');
			if(c == true){
				var p_id = $('input[name = p_id]').val();
				location.href="[[@{/product/delete(p_id=${p.p_id})}]]";
			};
		});
	};
	
	// 상품 주문 페이지로 이동
	function purchaseproduct(){
		$('#purchase_btn').click(function(){
			// 장바구니에 상품 추가
			var quantity = Number($('#quantity').val());
			var p_id = Number($('#p_id').val());

			$.ajax({
				url:'/order/addcart',
				type:'post',
				data:{'p_id':p_id,'quantity':quantity},
				success: function(data){
					if(data.c_id==-1){
						location.href="/member/login"
					}else{
						$('#c_id').val(data.c_id);
						$('#product_form').attr({
							'method' : 'post',
							'action' : '[[@{/order/order}]]'
						});
						$('#product_form').submit();
					}
				}
			});
		});
	};
	
	// 찜 목록에 추가
	function addmark(){
		$('#mark_btn').click(function(){
			var p_id = Number($('#p_id').val());

			$.ajax({
				url:'/mypage/addmark',
				type:'post',
				data:{'p_id':p_id},
				success: function(data){
					var m_id = data.m_id;
					if(m_id==-1){
						location.href="/member/login"
					}
				}
			});
		});
	};
	
	// 장바구니에 추가
	function addcart(){
		$('#cart_btn').click(function(){
			var quantity = Number($('#quantity').val());
			var p_id = Number($('#p_id').val());
			
			$.ajax({
				url:'/order/addcart',
				type:'post',
				data:{'p_id':p_id,'quantity':quantity},
				success: function(data){
					c_id = data.c_id;
					if(c_id==-1){
						location.href="/member/login"
					}
				}
			});
		});
	}
	
	//추천 기능
	function thumbsUp(){
		alert("clicked");
	}
	
	window.onload = function() {
		subcategory();
		deleteproduct();
		addmark();
		addcart();
		purchaseproduct();
	};

</script>
<section class="single-product">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<ol class="breadcrumb">
					<li><a th:href="@{/product/productall}">전체상품</a></li>
					<li><a href="#" id ="sub-category" th:text="${p.cat_name}"></a></li>
				</ol>
			</div>
		</div>
		<div class="row mt-20">
			<form id="product_form">
				<div class="col-md-5">
					<div class="single-product-slider">
						<div id='carousel-custom' class='carousel slide' data-ride='carousel'>
							<div class='carousel-outer'>
								<!-- me art lab slider -->
								<div class='carousel-inner '>
									<div class='item active'>
										<img th:src="@{/images/shop/products/}+${p.p_img}" alt='' th:data-zoom-image="@{/images/shop/products/}+${p.p_img}" />
									</div>
									<!-- <div class='item'>
										<img th:src='@{/images/shop/single-products/product-2.jpg}' alt='' th:data-zoom-image="@{/images/shop/single-products/product-2.jpg}" />
									</div>							
									<div class='item'>
										<img th:src='@{/images/shop/single-products/product-3.jpg}' alt='' th:data-zoom-image="@{/images/shop/single-products/product-3.jpg}" />
									</div>	 -->							
								</div>
								<!-- sag sol
								<a class='left carousel-control' href='#carousel-custom' data-slide='prev'>
									<i class="tf-ion-ios-arrow-left"></i>
								</a>
								<a class='right carousel-control' href='#carousel-custom' data-slide='next'>
									<i class="tf-ion-ios-arrow-right"></i>
								</a> -->
							</div>
							<!--  thumb 
							<ol class='carousel-indicators mCustomScrollbar meartlab'>
								<li data-target='#carousel-custom' data-slide-to='0' class='active'>
									<img th:src="@{/images/shop/products/}+${p.p_img}" alt='' />
								</li>
							</ol> -->
						</div>
					</div>
				</div>
				<div class="col-md-7">
					<div class="single-product-details">
						<input type="hidden" th:value="${p.p_id}" id="p_id"/>
						<h2 id="p_name" th:text="${p.p_name}"></h2>
	                    <label>판매가</label>
	                    <p id="price" th:text="${p.price}"></p><br/>
						<label>할인</label>
	                    <p id="discount" th:text="${p.discount}"></p><br/>
	                    <label>배송비</label>
	                    <p id="del_cost" th:text="${p.del_cost}"></p><br/>
	
	                   <div class="product-quantity">
							<span>수량</span>
							<div class="product-quantity-slider">
								<input type="number" id="quantity" value="1" name="quantity" min="1" max="100">
							</div>
						</div>
						<label>크기</label>
						<p id="size" th:text="${p.size}"></p><br/>
					
						<label>색상</label>
						<p id="color" th:text="${p.color}"></p><br/>
														
						<div id="fav_product">
							<!-- 찜 -->
							<span  data-toggle="modal" data-target="#mark-modal">
								<li id="icon_heart"><a href="#" id="mark_btn" ><i class="tf-ion-ios-heart"></i></a></li>
							</span>
							<!-- 장바구니 -->
							<span  data-toggle="modal" data-target="#cart-modal">
							<span>
								<li id="icon_cart"><a href="#" id="cart_btn"><i class="tf-ion-android-cart"></i></a></li>
							</span>
						</div>
						<input type="hidden" id="c_id" name="c_ids"/>
						<a href="#" class="btn btn-main mt-20" id="purchase_btn">구매하기</a>
						<a th:if="${session.admin != null}" th:href="@{/admin/updateproduct(p_id=${p.p_id})}" th:value="${p.p_id}" class="btn btn-main mt-20">수정하기</a>
						<a th:if="${session.admin != null}" href="#" class="btn btn-main mt-20" id="delete_btn">삭제하기</a>
					</div>
				</div>
			</form>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="tabCommon mt-20">
					<ul class="nav nav-tabs">
						<li class="active"><a data-toggle="tab" href="#details" aria-expanded="true">상품 설명</a></li>
						<li class=""><a data-toggle="tab" href="#reviews" aria-expanded="true">상품 후기</a></li>
						<li class=""><a data-toggle="tab" href="#qna" aria-expanded="true">상품 문의</a></li>
					</ul>
					<div class="tab-content patternbg col-md-12">
						<!-- 상품 세부 정보 -->
						<div id="details" class="tab-pane fade active in">
							<textarea id="txtContent" rows="10" cols="100" style="width: 100%; resize:none;" th:text="${p.p_content}" readonly="readonly"></textarea>
						</div>
						
						<!-- 리뷰 -->
						<div id="reviews" class="tab-pane fade col-md-12">
							<!-- 리뷰가 존재하지 않는다면  -->
							<div class="col-md-12" th:if="${#lists.isEmpty(reviews)}" th:each="review : ${reviews}">
								<div>상품후기가 존재하지 않습니다.</div>
							</div>
							<!-- 리뷰가 존재하면  -->
							<div class="col-md-12 review-layout" th:unless="${#lists.isEmpty(reviews)}" th:each="review : ${reviews}">
								<div class="col-md-12">
									<span class="glyphicon glyphicon-user"></span>
									<span th:text=${review.user_id}></span>
								</div>
								<div class="col-md-12">
									<span th:each="i : ${#numbers.sequence(0, review.grade - 1)}" style="color:#ffd700; font-size:28px;">★</span>
									<span th:if="${review.grade} != 5" th:each="i : ${#numbers.sequence(0, 4 - review.grade)}" style="color:#ffd700; font-size:28px;">☆</span>
									<span th:text=${#temporals.format(review.rdate,"yyyy.MM.dd")}></span>
								</div>
								<div class="col-md-6">
									<div class="col-md-12 review-title" th:text=${review.title}></div>
									<div class="col-md-12 review-content" th:text=${review.content}></div>
									
									<!-- 리뷰 추천 기능 -->
									<div class="col-md-12 review-thumbs-up">
										<button class="btn btn-default col-md-3" onclick="thumbsUp();" data-review-id="${review.r_id}">
											<i class="glyphicon glyphicon-thumbs-up"></i>
											추천해요 &nbsp&nbsp
											<span th:text="${review.up}"></span>
										</button>
									</div>
								</div>
							</div>
						</div>
						
						<!-- 상품 문의 -->
						<div id="qna" class="tab-pane fade col-md-12">
							<div class="top col-md-12">
								<h3 class="col-md-10">상품문의</h3>
								<a class="col-md-2 " th:href="@{/mypage/qna/write}">문의하기</a>
							</div>
							<div class="col-md-12">
					            <ul>
					                <li>구매한 상품의 <span>취소/반품은 마이페이지 주문목록에서 신청</span> 가능합니다.</li>
					                <li>상품문의 및 후기게시판을 통해 취소나 환불, 반품 등은 처리되지 않습니다.</li>
					                <li><span>가격, 판매자, 교환/환불 및 배송 및 해당 상품과 관련있는 문의 또한 우측 상단 문의하기 또는 고객센터 내 1:1 문의하기</span>를 이용해주세요.</li>
					            </ul>
					        </div>
				</div>
			</div>
		</div>
		<!-- Modal -->
		<div class="modal product-modal" id="mark-modal">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<i class="tf-ion-close"></i>
			</button>
		  	<div class="modal-mark " role="document">
		    	<div class="modal-content">
			      	<div class="modal-body">
			        	<div class="row">
			        		<img th:src="@{/images/shop/products/}+${p.p_img}"/>
			        		<h1 id="p_name" th:text="${p.p_name}"></h1>
			        		<div><h3>찜에 추가되었습니다.</h3></div>
			        		<a th:href="@{/mypage/mark}" class="btn btn-main mt-20">찜 목록 확인하기</a>
			        	</div>
			        </div>
		    	</div>
		  	</div>
		</div>
		<div class="modal product-modal" id="cart-modal">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<i class="tf-ion-close"></i>
			</button>
		  	<div class="modal-cart " role="document">
		    	<div class="modal-content">
			      	<div class="modal-body">
			        	<div class="row">
			        		<img th:src="@{/images/shop/products/}+${p.p_img}"/>
			        		<h1 id="p_name" th:text="${p.p_name}"></h1>
			        		<div><h3>장바구니에 추가되었습니다.</h3></div>
			        		<a th:href="@{/order/cart}" class="btn btn-main mt-20">장바구니 목록 확인하기</a>
			        	</div>
			        </div>
		    	</div>
		  	</div>
		</div>
		<!-- /.modal -->
	</div>
</section>