<style>
	#product-item{
		border: 1px solid red;
	}
	#product-thumb{
		border: 1px solid blue;
	}
	#product-content{
		border: 1px solid green;
	}
</style>

<script>
	$(document).ready(function(){
		
	});
</script>

<section th:fragment="page-header" class="page-header">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="content">
					<h1 class="page-name">전체보기</h1>
					<ol class="breadcrumb">
						<li><a th:href="@{/product/productall}">전체보기</a></li>
						<li><a th:href="@{/product/fabric}">페브릭소파</a></li>
						<li><a th:href="@{/product/leather}">가죽소파</a></li>
						<li><a th:href="@{/product/pet}">펫소파</a></li>
						<li><a th:href="@{/product/livingroom}">리빙룸</a></li>
					</ol>
					<li><a th:href="@{/admin/registerproduct}">상품등록</a></li>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="products section">
	<div class="container">
		<div class="row">		
			<div class="col-md-4">
				<div class="product-item">
					<tr th:each="p : ${plist}">
						<div class="product-thumb">
							<td><img class="img-responsive" th:src="@{/images/shop/products/product-1.jpg}" alt="product-img"/></td>
						</div>
						<div class="product-content">
							<td><h4><a href="#" th:text="${p.p_name}"></a></h4></td>
							<p class="price"><td th:text="${p.price}"></td></p>
						</div>
					<tr>
				</div>
			</div>
			
			
		<!-- Modal -->
		<div class="modal product-modal fade" id="product-modal">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<i class="tf-ion-close"></i>
			</button>
		  	<div class="modal-dialog " role="document">
		    	<div class="modal-content">
			      	<div class="modal-body">
			        	<div class="row">
			        		<div class="col-md-8 col-sm-6 col-xs-12">
			        			<div class="modal-image">
				        			<img class="img-responsive" th:src="@{/images/shop/products/modal-product.jpg}" alt="product-img" />
			        			</div>
			        		</div>
			        		<div class="col-md-4 col-sm-6 col-xs-12">
			        			<div class="product-short-details">
			        				<h2 class="product-title">GM Pendant, Basalt Grey</h2>
			        				<p class="product-price">$200</p>
			        				<p class="product-short-description">
			        					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem iusto nihil cum. Illo laborum numquam rem aut officia dicta cumque.
			        				</p>
			        				<a th:href="@{/cart.html}" class="btn btn-main">Add To Cart</a>
			        				<a th:href="@{/product-single.html}" class="btn btn-transparent">View Product Details</a>
			        			</div>
			        		</div>
			        	</div>
			        </div>
		    	</div>
		  	</div>
		</div><!-- /.modal -->
		
		</div>
	</div>
</section>