@charset "UTF-8";

.notice-bar, .faq-bar {
	background-size: cover;
	height: 300px;
	display: flex;
}

.notice-bar {
	background-image: url( "/images/backgrounds/notice.jpg" );
}

.faq-bar{
	background-image: url( "/images/backgrounds/notice.jpg" );
}