@charset "UTF-8";

/*******************************************
[Table of Content]
1. Common				: 공통 		
	1.1 product			: 상품보기
	1.2 product detail	: 상품 상세보기
	1.3 search			: 상품 검색
	1.4 cart			: 장바구니
	1.5	order			: 주문
	
2. Admin 				: 관리자
	2.1 register		: 상품등록
	2.2 update			: 상품수정


*******************************************/
/*=== [ 1. Common ] ===*/
.cart-amount th, .order-product td {
	text-align: center;
}

.coupon-box {
	margin-bottom: 50px;
	padding: 10px 40px 10px 40px;
	border: 1px solid #dedede;
}

#ship_detail, #pay_detail {
	margin-bottom: 10px;
}

.required {
	color: red;
}

#product-img {
	width: 400px;
}

.cart-bar, .order-bar {
	height: 300px;
	display: flex;
}

.cart-bar {
	background-image: url( "/images/backgrounds/cart.jpg" );
}

.order-bar {
	background-image: url( "/images/backgrounds/cart.jpg" );
}

.checkout-form .checkout-email input {
	width: calc(75% - 2px);
	margin-right: 4px;
	display: inline;
}

#select-email, #bank_name {
	width: 270px;
	height: 50px;
	padding: .8em .5em;
	border: 1px solid #ccc;
	font-family: inherit;
	font-size: 12px;
	text-align: center;
	background: url('arrow.jpg') no-repeat 95% 50%;
}

#card_name, #installment_plan {
	width: 160px;
	height: 50px;
	padding: .8em .5em;
	border: 1px solid #ccc;
	font-family: inherit;
	font-size: 12px;
	text-align: center;
	background: url('arrow.jpg') no-repeat 95% 50%;
}

#depositor {
	border-radius: 0;
	display: inline;
	padding: 6px 10px 5px;
	height: 50px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	border: 1px solid #ccc;
	font-weight: 200;
	font-size: 12px;
}

.form-datetime {
	border-radius: 0;
	height: 50px;
	margin-bottom: 8px;
}

#date, #time {
	width: 150px;
	height: 50px;
	padding: .8em .5em;
	border: 1px solid #ccc;
	font-family: inherit;
	font-size: 12px;
	text-align: center;
	background: url('arrow.jpg') no-repeat 95% 50%;
}

#coupon_list {
	width: 280px;
	height: 50px;
	padding: .8em .5em;
	border: 1px solid #ccc;
	font-family: inherit;
	font-size: 12px;
	text-align: center;
	background: url('arrow.jpg') no-repeat 95% 50%;
}

#pay_btn, #modal_pay_btn {
	text-align: center;
}

#pay_btn>a, #pay_btn>span>a {
	font-size: 16px;
}

#order_list {
	margin: 0px;
}

.order-price-box {
	margin-bottom: 50px;
	padding: 10px 40px 10px 40px;
	border: 1px solid #dedede;
}