<script>
// 상품 전체 선택
function checkedall(){
	$('#checkall').click(function(){
		// 전체 체크박스 클릭
		if($('#checkall').prop('checked')){
			$('.check').prop('checked',true);
		}else{
			$('.check').prop('checked',false);
		}
		
		// 전체 선택 중 하위 체크박스 체크 해제시 전체 체크 해제
		$('.check').click(function(){
			var total_length = $('input:checkbox[class="check"]').length;
			var checked_length = $('input:checkbox[class="check"]:checked').length;
			
			if(total_length != checked_length){
				$('#checkall').prop('checked',false);
			}else{
				$('#checkall').prop('checked',true);
			}
		});
	});
}

// 선택된 상품 가격
function selectedproduct(){
	$('input:checkbox').on('click', function(){
		var c_ids = Array();
		var checked_cnt = $('input:checkbox[name="c_ids"]:checked').length;
		
		// 선택된 것이 한 개도 없을 경우
		if(checked_cnt == 0){
			$('#checked_cnt').text(checked_cnt);
			$('#sumprice').text('0원');
			$('#sumdiscount').text('0원');
			$('#sumdelcost').text('0원');
			$('#totalprice').text('0원');
		}else{
			$('input:checkbox[name="c_ids"]:checked').each(function(){
				c_ids.push($(this).val());
			});

			$.ajax({
				url:'/order/productinfo',
				type:'POST',
				data:{'c_ids':c_ids},
				traditional: true,
				success: function(data){
					// 선택된 상품 개수
					$('#checked_cnt').text(checked_cnt);
					// 선택된 상품 총 금액
					$('#sumprice').text(data.sumprice+'원');
					// 선택된 상품 총 할인 금액
					$('#sumdiscount').text(data.sumdiscount+'원');
					// 선택된 상품 총 배송비
					$('#sumdelcost').text(data.sumdelcost+'원');
					// 총 지불할 금액
					$('#totalprice').text(data.total+'원');
				}
			});
		}
	});
};

//선택된 상품 장바구니에서 삭제
function deletecart(){
	 $('#delete_cart').click(function(){
			$('#cart_form').attr({
				'method' : 'post',
				'action' : '[[@{/order/deletecart}]]'
			});
			$('#cart_form').submit();
		});
}

// 선택된 상품 주문
function selectedorder(){
	$('#selectd_order').click(function(){
		$('#cart_form').attr({
			'method' : 'post',
			'action' : '[[@{/order/order}]]'
		});
		$('#cart_form').submit();
	});
}

// 전체 상품 주문
function allorder(){
	$('#all_order').click(function(){
		$('.check').prop('checked',true);
		$('#cart_form').attr({
			'method' : 'post',
			'action' : '[[@{/order/order}]]'
		});
		$('#cart_form').submit();
	});
}

// 선택된 상품 장바구니에서 수량 변경
function updatecart(quantity,c_id){
	location.href='/order/updatecart?c_id='+c_id+'&quantity='+quantity;
};

// 
function beforechecked(){
	var c_ids = $('#checked_cids').val();
}

window.onload = function(){
	beforechecked();
	checkedall();
	selectedproduct();
	deletecart();
	selectedorder();
	allorder();
	updatecart(quantity,c_id);
};
</script>

<section class="page-header">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="content">
					<h1 class="page-name">장바구니</h1>
					<ol class="breadcrumb">
						<li><a th:href="@{/}">Home</a></li>
						<li class="active">장바구니</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</section>
<div class="page-wrapper">
	<div class="cart shopping">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="block">
						<div class="product-list">
							<form method="post" id="cart_form">
								<table class="table line">
									<thead>
										<tr class="cart-amount">
											<th width="1" class="text-center"><input type="checkbox" id="checkall" class="check"><label for="checkall"></label></th>
											<th class="">상품/옵션 정보</th>
											<th class="">수량</th>
											<th class="widthDisplayNone">상품금액</th>
											<th class="">총 상품금액</th>
											<th class="">할인</th>
											<th class="">배송비</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="c : ${clist}">
											<!-- 체크박스 -->
											<td>
												<input type="hidden" id="checked_cids" th:value="${checked}"/>
												<input type="checkbox" th:id="${c.c_id}" class="check" name="c_ids" th:value="${c.c_id}"><label th:for="${c.c_id}"></label>
											</td>
											<!-- 상품/옵션정보 -->
											<td class="">
												<div class="product-info">
													<img width="80" th:src="@{/images/shop/products/}+${c.p_img}" /> 
													<input type="hidden" name="p_img" th:value="${c.p_img}" />
													<a th:href="@{/product/productdetail(p_id=${c.p_id})}" th:value="${c.p_id}" th:text="${c.p_name}"></a>
												</div>
											</td>
											<!-- 수량 -->
											<td class="col-md-2" id="c_cnt">
												<div class="product-quantity-slider">
													<input type="number" id="quantity" name="quantity" min="1" max="100" class="form-control text-center" th:value="${c.c_cnt}" th:oninput="|updatecart(${c.c_id})|">
												</div>
											</td>
											<!-- 상품금액 -->
											<td id="price" class="widthDisplayNone" th:text="|${#numbers.formatInteger(c.price, 3, 'COMMA')}원|"></td>
											<!-- 총 상품 금액 -->
											<td th:id="'sum_price'+${c.c_id}" th:text="|${#numbers.formatInteger(c.c_cnt*c.price, 3, 'COMMA')}원|"></td>
											<input type="hidden" name="sum_price" th:value="${c.c_cnt*c.price}" />
											<!-- 할인 -->
											<td class="widthDisplayNone" th:if="${c.discount == 0}" th:text="0원"></td>
											<td id="discount" th:if="${c.discount != 0}" th:text="|${#numbers.formatInteger(c.c_cnt*c.discount, 3, 'COMMA')}원|"></td>
											<input type="hidden" name="discount" th:value="${c.c_cnt*c.discount}" />
											<!-- 배송비 -->
											<td class="widthDisplayNone" th:if="${c.del_cost == 0}" th:text="0원"></td>
											<td id="del_cost" th:if="${c.del_cost != 0}" th:text="|${#numbers.formatInteger(c.c_cnt*c.del_cost, 3, 'COMMA')}원|"></td>
											<input type="hidden" name="del_cost" th:value="${c.c_cnt*c.del_cost}" />
										</tr>
									</tbody>
								</table>
								<div class="price-box col-md-12 col-xs-12 col-sm-12">
									<div class="price-content">
										<div class="price-list">
											<dl>
												<dt>
													총 <strong id="checked_cnt" th:text="0"></strong> 개의 상품금액
												</dt>
												<dd>
													<p id="sumprice" th:text="0원"></p>
												</dd>
											</dl>
											<span><iconify-icon icon="akar-icons:circle-minus-fill" width="25"></iconify-icon></span>
											<dl>
												<dt>할인</dt>
												<dd>
													<p id="sumdiscount" th:text="0원"></p>
													<input type="hidden" name="totaldiscount"/>
												</dd>
											</dl>
											<span><iconify-icon icon="akar-icons:circle-plus-fill" width="25"></iconify-icon></span>
											<dl>
												<dt>배송비</dt>
												<dd>
													<p id="sumdelcost" th:text="0원"></p>
												</dd>
											</dl>
											<span><iconify-icon icon="akar-icons:equal-fill" width="25"></iconify-icon></span>
											<dl class="price-total">
												<dt>합계</dt>
												<dd>	
													<p id="totalprice" th:text="0원"></p>
													<input type="hidden" name="totalprice"/>
												</dd>
											</dl>
										</div>
									</div>
								</div>
								<div class="btn-order-box col-md-12 col-xs-12 col-sm-12">
									<div class="btn-left-box">
										<a href="#" class="large btn btn-small btn-solid-border" id="delete_cart">선택 상품 삭제</a>
										
									</div>
									<div class="btn-right-box">
										<button type="submit" class="large btn btn-solid-border" id="selectd_order">
											<b>선택 상품 주문</b>
										</button>
										<button type="submit" class="large btn btn-main " id="all_order">
											<b>전체 상품 주문</b>
										</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
