<section class="account">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="block text-center">
					<h2>관리자 회원가입 실패</h2>
					<div class="form-group clearfix">
						<iconify-icon icon="mdi:account-cancel" width="120"></iconify-icon>
						<div class="clearfix">
							<p class="complete">회원가입이 <strong>실패</strong> 되었습니다.</p><br>
							<p>이전으로 다시 회원가입을 시도해 주세요.</p><br><br>
						</div>
						<div class="row">
							<div class="col-xs-6 col-sm-6 col-md-6">
								<button type="button" class="btn btn-lg btn-solid-border btn-block large" th:onclick="|history.go(-1)|">이전으로</button>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6">
								<button type="button" class="btn btn-lg btn-main btn-block large" th:onclick="|location.href='@{/}'|">홈으로</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
