<section class="account">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="block text-center">
					<h2>관리자 로그인</h2>
					<form id="form_admin_login" class="text-left clearfix" th:action="@{/admin/loginok}" th:object="${admin}" method="post">
						<div class="form-group">
							<input type="text" th:field="*{admin_id}" class="form-control" placeholder="ID">
						</div>
						<div class="form-group has-feedback">
							<input type="password" th:field="*{admin_pwd}" class="form-control" placeholder="Password">
							<span class="glyphicon glyphicon-eye-open form-control-feedback eye"></span>						
							<span class="control-label text-danger"	th:text="${error_login}"></span>
						</div>
						<div class="form-group">
							<input type="checkbox" id="saveId" name="checkId" class="save_id">
							<label for="saveId">아이디 저장(구현 예정)</label>
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-main btn-block text-center large">Login</button>
						</div>
					</form>
					<p class="mt-20">사이트 방문이 처음이신가요 ?<a th:href="@{/admin/account}"> 관리자 회원가입</a></p><br>
					<!-- <p class="mt-20">아이디/비밀번호를 잊으셨나요?<a th:href="@{/member/find_id}"> 아이디 찾기</a>/<a th:href="@{/member/find_password}">비밀번호 찾기</a></p> --> 
				</div>
			</div>
		</div>
	</div>
</section>
 