<section class="management">
	<div class="container">
		<div class="row">
			<!-- <div class="col-md-3" th:include="@{/mypage/sidenav}"></div> -->
			<div class="col-md-12">
				<div class="page-wrapper shopping cart">
					<div class="page-header">
						<div class="container">
							<h1>회원 리스트</h1>
							<ol class="breadcrumb">
								<li><a th:href="@{/}">Home</a></li>
								<li>회원관리</li>
								<li class="active">회원 리스트</li>
							</ol>
						</div>
					</div>
					
					<!-- 장바구니에 아이템이 있을시 -->
					<div class="product-list">
						<form method="post">
							<div class="form-group">
								<button type="button" class="btn">선택 회원 정상</button>
								<button type="button" class="btn">선택 회원 탈퇴</button>
								<button type="button" class="btn">선택 회원 삭제</button>
							</div>
							<table class="table line">
								<thead>
									<tr class="cart-amount" >
										<th width="1"><input type="checkbox" id="check" class="check"> <label for="check"></th>
										<th class="text-center" style="vertical-align: middle;">번호</th>
										<th class="text-center" style="vertical-align: middle;">아이디</th>
										<th class="text-center" style="vertical-align: middle;">이름</th>
										<th class="text-center" style="vertical-align: middle;">상태</th>
										<th class="text-center" style="vertical-align: middle;">가입일</th>
										<th class="text-center" style="vertical-align: middle;">관리</th>										
									</tr>
								</thead>
								<tbody>
									<tr class="">
										<td class=""><input type="checkbox" id="check1" class="check"> <label for="check1"></label></td>
										<td class="text-center">1</td>
										<td class="">223123qwertty11</td>
										<td class="">홍하나입니다</td>
										<td class="">정상</td>
										<td class="">2022.01.27</td>
										<td class="">
											<button type="button" class="btn">수정</button>
											<button type="button" class="btn">삭제</button>											
										</td>
									</tr>
								</tbody>
							</table>
							<div class="text-center">
								<ul class="pagination post-pagination">
									<li><a href="#!">Prev</a></li>
									<li class="active"><a href="#!">1</a></li>
									<li><a href="#!">2</a></li>
									<li><a href="#!">3</a></li>
									<li><a href="#!">4</a></li>
									<li><a href="#!">5</a></li>
									<li><a href="#!">Next</a></li>
								</ul>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
