<section class="memberlist">
	<div class="container">
		<div class="row">
			<!-- <div class="col-md-3" th:include="@{/mypage/sidenav}"></div> -->
			<div class="col-md-12">
				<div class="page-wrapper shopping cart">
					<div class="page-header">
						<div class="container">
							<h1>회원 리스트</h1>
							<ol class="breadcrumb">
								<li><a th:href="@{/}">Home</a></li>
								<li>회원관리</li>
								<li class="active">회원 리스트</li>
							</ol>
						</div>
					</div>
					<div class="product-list">
						<form id="form_memberlist" class="form-inline" th:action="@{/admin/memberlist}" method="get">
							<div class="form-group">
								<div class="col-md-6">
									<button type="button" class="btn btn-default">선택 회원 정상</button>
									<button type="button" class="btn btn-default">선택 회원 탈퇴</button>
									<button type="button" class="btn btn-default">선택 회원 삭제</button>
								</div>
								<div class="col-md-6">
									<div class="pull-right">
										<select th:name="type" class="form-control">
											<option th:value="user_id" th:text="아이디" th:selected="${type}=='user_id'"></option>
											<option th:value="name" th:text="이름" th:selected="${type}=='name'"></option>
										</select> 
										<input type="search" th:name="keyword" class="form-control" th:value=${keyword}>
										<button type="submit" class="btn btn-default" th:text="검색"></button>
									</div>
								</div>
							</div>
							<table class="table line">
								<colgroup>
									<col width="2%"/>
									<col width="5%"/>
									<col width="5%"/>
									<col width="5%"/>
									<col width="5%"/>
									<col width="5%"/>
									<col width="10%"/>
								</colgroup>
								<thead>
									<tr class="cart-amount" >
										<th width="1">
											<input type="checkbox" id="checkAll" class="check" th:onclick="selectAll(this)" >
											<label for="check"></label>
										</th>
										<th class="text-center">번호</th>
										<th class="text-center">아이디</th>
										<th class="text-center">이름</th>
										<th class="text-center">상태</th>
										<th class="text-center">가입일</th>
										<th class="text-center">관리</th>										
									</tr>
								</thead>
								<tbody>
									<tr th:if="${paging.totalRow == 0}">
										<td class="text-class empty" colspan="7">조회된 회원 리스트가 없습니다.</td>
									</tr>	
									<tr th:if="${members != null}" th:each="member : ${members}">
										<td class="">
											<input type="checkbox" th:name="checkbox" class="check">
											<label for="check1"></label>
										</td>
										<td class="text-center" th:text="${memberStat.count + paging.offset}"></td>
										<td class="" th:text="${member.user_id}"></td>
										<td class="" th:text="${member.name}"></td>
										<td class="" th:text="${member.enable == true ? '정상' : '탈퇴'}"></td>
										<td class="" th:text="${#dates.format(member.joindate,'yyyy.MM.dd')}"></td>
										<td class="">
											<button type="button" class="btn">수정</button>
											<button type="button" class="btn">삭제</button>											
										</td>
									</tr>
								</tbody>
							</table>
							<div class="text-center">
								<ul class="pagination post-pagination" th:if="${paging.totalRow > 0}">
									<!-- 맨 처음 페이지 이동 -->
									<li th:if="${paging.startPage > 1}">
										<a th:href="@{'memberlist?page=1'}" th:text="First"></a>
									</li>
									<!-- 이전 블록 이동 -->
									<li th:if="${paging.prev}">
										<a th:if="${paging.keyword == null}" 
											th:href="@{'memberlist?page='+${paging.startPage-1}}" 
											th:text="prev"></a>
										<a th:if="${paging.keyword != null}" 
										th:href="@{'memberlist?page='+${paging.startPage-1}+'&type='+${paging.type}+'&keyword='+${paging.keyword}}" 
										th:text="prev"></a>
									</li>
									<!-- 시퀀스 보여주는 값 변경 -->
									<li th:each="pageNum : ${#numbers.sequence(paging.startPage, paging.endPage)}" th:class="${pageNum == paging.page} ? 'active'" >
										<a th:if="${paging.keyword == null}" 
											th:href="@{'memberlist?page='+${pageNum}}" 
											th:text="${pageNum}"></a>
										<a th:if="${paging.keyword != null}" 
											th:href="@{'memberlist?page='+${pageNum}+'&type='+${paging.type}+'&keyword='+${paging.keyword}}" 
											th:text="${pageNum}"></a>
									</li>
									<!-- 다음 블록으로 이동 -->
									<li th:if="${paging.next}">
										<a th:if="${paging.keyword == null}" 
											th:href="@{'memberlist?page='+|${paging.endPage + 1}|}" 
											th:text="Next"></a>
										<a th:if="${paging.keyword != null}" 
											th:href="@{'memberlist?page='+|${paging.endPage + 1}|+'&type='+${paging.type}+'&keyword='+${paging.keyword}}" 
											th:text="Next"></a>
									</li>
									<!-- 맨 뒷 페이지로 이동 -->
									<li th:if="${paging.endPage < paging.totalPage}">
										<a th:href="@{'memberlist?page='+${paging.totalPage}}" th:text="Last"></a>
									</li>
								</ul>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
