<style>
	#update_btn{
		text-align: center;
	}
	
	#update_btn > a{
		font-size: 16px;
	}
</style>
<script>
	function checkboxcnf(checkbox){
		var discount = document.getElementById('discount');
		
		discount.disabled = checkbox.checked ? false : true;
		
		if(discount.disabled){
			discount.value = null;
		}else{
			discount.focus();
		}
	};
	
	function updateproduct(){
		$('#update_form a[name="update_product"]').click(function(){
			var c = confirm('수정 하시겠습니까?');
			if(c == true){
				$('#update_form').attr({
					'enctype': 'multipart/form-data', 
					'method' : 'post',
					'action' : '[[@{/product/update}]]'
				});
				$('#update_form').submit();
			};
		});
	};

	function checksize(){
		var frm = document.querySelectorAll('input[name="size"]');
		var size = '[[${p.size}]]';
		
		if(size == 1){
			frm[0].checked = true;
		}else if(size == 2){
			frm[1].checked = true;
		}else if(size == 3){
			frm[2].checked = true;
		}else if(size == 4){
			frm[3].checked = true;
		}else if(size == 5){
			frm[4].checked = true;
		}else if(size == 6){
			frm[5].checked = true;
		}
	};
	
	function checkcat(){
		var frm = document.querySelector('select[name="cat_id"]');
		var category = '[[${p.cat_id}]]';
		
		if(category == 1){
			frm.options[0].selected = true;
		}else if(category == 2){
			frm.options[1].selected = true;
		}else if(category == 3){
			frm.options[2].selected = true;
		}else if(category == 4){
			frm.options[3].selected = true;
		}
	};
	
	function checkcolor(){
		var frm = document.querySelector('select[name="color"]');
		var color = '[[${p.color}]]';
	    
		if(color == 'pale_dogwood'){
			frm.options[0].selected = true;
		}else if(color == 'gray_sand'){
			frm.options[1].selected = true;
		}else if(color == 'gray_lilac'){
			frm.options[2].selected = true;
		}else if(color == 'plein_air'){
			frm.options[3].selected = true;
		}else if(color == 'pale_khaki'){
			frm.options[4].selected = true;
		}else if(color == 'fields_of_rye'){
			frm.options[5].selected = true;
		}else if(color == "agate_gray"){
			frm.options[6].selected = true;
		}else if(color == "viva_magenta"){
			frm.options[7].selected = true;
		}else if(color == "biscary_bay"){
			frm.options[8].selected = true;
		}else if(color == "fir_green"){
			frm.options[9].selected = true;
		}else if(color == "rose_taupe"){
			frm.options[10].selected = true;
		}else if(color == "polar_night"){
			frm.options[11].selected = true;
		}else if(color == "tawny_port"){
			frm.options[12].selected = true;
		}else if(color == "gloxinia"){
			frm.options[13].selected = true;
		}else if(color == "silver_pine"){
			frm.options[14].selected = true;
		}
	};	
	
	function checkvisiable(){
		var frm = document.querySelectorAll('input[name="visiable"]');
		var visiable = '[[${p.visiable}]]';
		
		if(visiable == 'true'){
			frm[0].checked = true;
		}else if(visiable == 'false'){
			frm[1].checked = true;
		}
	};
	
	function showsize(){
		// 크기 기본
		$('#size1').show();
		$('#size2').hide();
		$('#size3').hide();
		
		$('#cat_id').change(function(){
			var result = $('#cat_id option:selected').val();
			if(result == 1 || result == 2){
				$('#size1').show();
				$('#size2').hide();
				$('#size3').hide();
			}else if(result == 3){
				$('#size2').show();
				$('#size1').hide();
				$('#size3').hide();
			}else if(result == 4){
				$('#size3').show();
				$('#size1').hide();
				$('#size2').hide();
			}
		});
	};
	
	
	window.onload = function() {
		showsize();
		checksize();
		checkcat();
		checkcolor();
		checkvisiable();
		updateproduct();
	};
</script>
<section class="single-product">
	<div class="container">
		<div class="row mt-20">
			<form id="update_form">
				<input type="hidden" th:value="${p.p_id}" name="p_id"/>
				<div class="col-md-5">
					<input type="file" id="p_img" name="img" accept="images/shop/products/*" required multiple>
					<img th:src="@{/images/shop/products/}+${p.p_img}" alt='' th:data-zoom-image="@{/images/shop/products/}+${p.p_img}" />
				</div>
				<div class="col-md-7">
					<div class="single-product-details">
						<div class="form-group">
	                        <label>카테고리</label>&nbsp;
	                        <select id="cat_id" name="cat_id">
							    <option value="1">패브릭소파</option>
							    <option value="2">가죽소파</option>
							    <option value="3">펫소파</option>
							    <option value="4">리빙룸</option>
						  	</select>
	                    </div>
						<div class="form-group">
	                        <label>상품이름</label>
	                        <input type="text" class="form-control" th:value="${p.p_name}" id="p_name" name="p_name"/>
	                    </div>
	                    <div class="form-group">
	                        <label>가격</label>
	                        <input type="text" class="form-control" th:value="${p.price}" id="price" name="price"/>
	                    </div>
						<div class="form-group">
	                        <label>배송비</label>
	                        <input type="text" class="form-control" th:value="${p.del_cost}" id="del_cost" name="del_cost"/>
	                    </div>
	                    <div class="product-quantity">
							<span>수량</span>
							<div class="product-quantity-slider">
								<input id="p_cnt" type="text" th:value="${p.p_cnt}" name="p_cnt">
							</div>
						</div>
	                    <div class="form-group">
	                        <label>할인</label>
	                        <span th:if="${p.discount} != null and ${p.discount} != ''">
	                        	<input type='checkbox' id="sale-check" onclick='checkboxcnf(this)' checked="checked"/>
	                        	<input type="text" class="form-control" th:value="${p.discount}" id="discount" name="discount"/>
	                        </span>
							<span th:unless="${p.discount} != null and ${p.discount} != ''">
								<input type='checkbox' id="sale-check" onclick='checkboxcnf(this)'/>
	                       		<input type="text" class="form-control" id="discount" name="discount" disabled/>
							</span>
	                    </div>
	                    <div class="form-group">
							<label id="product_size">크기</label><br/>
								 <div id="size1">
									<input type="radio" name="size" value="1인용"/> 1인용&emsp;
			                        <input type="radio" name="size" value="2인용"/> 2인용&emsp;
			                        <input type="radio" name="size" value="3인용"/> 3인용&emsp;
			                        <input type="radio" name="size" value="4인용"/> 4인용&emsp;
			                        <input type="radio" name="size" value="5인용"/> 5인용&emsp;
			                        <input type="radio" name="size" value="6인용"/> 6인용&emsp;
								</div>
								<div id="size2">
									<input type="radio" name="size" value="펫쇼파"/> 펫쇼파&emsp;
		                       		<input type="radio" name="size" value="펫스텝"/> 펫스텝&emsp;
								</div>
								<div id="size3">
									<input type="radio" name="size" value="쿠션"/> 쿠션&emsp;
		                        	<input type="radio" name="size" value="러그"/> 러그&emsp;
	                        	</div>
						</div>
						<div class="form-group">
							<label>색상</label>&nbsp;
							<select id="color" name="color">
							    <option value="pale_dogwood">pale_dogwood</option>
							    <option value="gray_sand">gray_sand</option>
							    <option value="gray_lilac">gray_lilac</option>
							    <option value="plein_air">plein_air</option>
							    <option value="pale_khaki">pale_khaki</option>
							    <option value="fields_of_rye">fields_of_rye</option>
							    <option value="agate_gray">agate_gray</option>
							    <option value="viva_magenta">viva_magenta</option>
							    <option value="biscary_bay">biscary_bay</option>
							    <option value="fir_green">fir_green</option>
							    <option value="rose_taupe">rose_taupe</option>
							    <option value="polar_night">polar_night</option>
							    <option value="tawny_port">tawny_port</option>
							    <option value="gloxinia">gloxinia</option>
							    <option value="silver_pine">silver_pine</option>
						  	</select>
						</div>
	                    <div class="form-group">
	                        <label>보이기</label><br/>
	                        <input type="radio" name="visiable" value="true"> 네&emsp;
	                        <input type="radio" name="visiable" value="false"> 아니오
	                    </div>					
					</div>
				</div>
				
				<div class="row">
					<div class="col-xs-12">
						<div class="tabCommon mt-20">
							<ul class="nav nav-tabs">
								<li class="active"><a data-toggle="tab" href="#" aria-expanded="true">상품 설명</a></li>
							</ul>
							<div class="tab-content patternbg">
								<div id="details" class="tab-pane fade active in">
									<textarea id="p_content" name="p_content" th:text="${p.p_content}" rows="10" cols="100" style="width: 100%;"></textarea>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div id="update_btn">
					<a href="#" class="btn btn-main mt-20" name="update_product">상품 수정하기</a>
				</div>
			</form>	
		</div>
	</div>
</section>